/*=========================== General and Typography ============================ */
 body {
     font-family: 'Open Sans', sans-serif;
     color:#808080;
}

 p{
     font-size: 16px;
     line-height:1.6;
     font-weight: 400;
}
 h1{
     font-size: 3.8em;
     line-height: 1.1em;
     color:#675444;
     font-family:'Quicksand', sans-serif;
     margin-bottom: 20px;
     font-weight:700;
}
 h2{
     color:#675444;
     margin-bottom: 20px;
     font-family:'Quicksand', sans-serif;
     font-size: 3.4em;
     font-weight: bold;
     letter-spacing: -1px;
}
 h3{
     font-family:'Quicksand', sans-serif;
     font-size:2.5em;
     font-weight:700;
     margin-bottom: 20px;
     line-height: 1.2;
     letter-spacing: -1px;
}
 h4{
     font-family:'Quicksand', sans-serif;
     color:#675444;
     font-size:2.1em;
     font-weight:500;
     margin-bottom: 20px;
     letter-spacing: -0.6px;
}
 h5{
     color:#675444;
     font-family:'Quicksand', sans-serif;
     font-size:1.8em;
     font-weight: 700;
     margin-bottom: 20px;
}
 h6{
     color:#675444;
     font-family:'Quicksand', sans-serif;
     font-size:1.2em;
     font-weight: bold;
     margin-bottom: 20px;
}
 .h7{
     font-size:18px;
     line-height:28px;
     font-weight:700;
}
 .lead {
     font-family:'Quicksand', sans-serif;
     font-weight:700;
     line-height:1.4em;
}
/* Links */
 a {
	 text-decoration: none;
     transition: color .2s ease-in-out;
}
 a:hover, a:focus {
     text-decoration: none;
}
 *:focus{
     outline-style:none;
     box-shadow:none;
     border-color:transparent;
}
 .custom-link{
     font-family:'Quicksand', sans-serif;
     margin-top:20px;
     background: #f3f3f3;
     display: inline-block;
     padding: 10px;
     font-weight: 700;
     font-size: 20px;
}
/*=========================== Preloader ============================ */
 #preloader {
     position: fixed;
     top: 0;
     background:#fff;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 99999;
}
 .spinner {
     text-align: center;
     position: absolute;
     top: 50%;
     width: 10%;
     left: 43%;
     animation: rotate 2.0s infinite linear;
}
 .spinner > div {
     border-radius: 100%;
     display: inline-block;
     animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
     animation-fill-mode: both;
}
 .spinner .bounce1 {
     animation-delay: -0.32s;
}
/* Preloader icon */
 .spinner .bounce1:after {
     content: "\f112";
     position: absolute;
     font-family: "flaticon";
     font-size: 40px;
     margin-top: -40px;
     margin-left: -10px;
}
 @keyframes bouncedelay {
     0%, 80%, 100% {
         transform: scale(1.0);
    }
     40% {
         transform: scale(1.5);
    }
}
/*=========================== Navigation ============================ */
 .navbar{
     box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.07);
}
 .navbar-nav a{
     color:#fff!important;
     font-family:'Quicksand', sans-serif;
     font-weight: 700;
     font-size: 16px;
}
 .navbar-nav .nav-link {
     padding-right: 1.2rem!important;
     padding-left: 1.2rem!important;
}
 .nav-item{
     border-radius:70px;
     transition: all .2s ease-in-out;
}
 .navbar .nav-item:focus .dropdown.show{
     background: transparent!important;
}
 .navbar .nav-item.active,.navbar .dropdown-item:hover,.navbar .dropdown-item:focus,.navbar .nav-link:focus,.navbar .nav-item:hover,.navbar .nav-item .active{
     color:#fff!important;
     border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
}
/* dropdown style */
 .nav-link.dropdown-toggle:focus{
     background:transparent!important;
}
 .dropdown-item{
     color:#fff!important;
     transition: all .2s ease-in-out;
}
 .dropdown-menu{
     border:0px;
}
 .dropdown-menu:before {
     transition: all .2s ease-in-out;
     content: "";
     display: block;
     width: 0;
     height: 0;
     border-width: 7px 8px;
     border-style: solid;
     border-color: transparent;
     z-index: 1001;
     top: -14px;
     left: 10%;
     position: absolute;
}
 .dropdown-menu:before {
     bottom: -17px;
     right: -8px;
}
/* navbar brand */
 .navbar-brand{
     line-height: 20px;
     margin-top: 0px;
     padding-top: 20px;
}

.navbar-brand img{
    margin-top: -20px;
    margin-right: 10px;
}

 .navbar-brand span{
     font-family:'Quicksand', sans-serif;
     font-size:40px;
     text-transform:uppercase;
     font-weight:700;
     color:#fff!important;
}
 .navbar-brand i {
	 vertical-align: sub;
     margin-right:10px;
     font-size:45px;
}
 .navbar-toggler {
     transition: all 0.5s ease 0s;
     background: #fff;
}
/* top-bar */
 .top-bar{
     background:#f4f4f4;
     transition:all 0.8s;
     top: 0;
     width: 100%;
     position: relative;
}
 .top-bar ul,ol {
     margin-bottom: 0px;
     padding: 0px;
}
 .top-bar .contact-details li:first-child {
     margin-left: 0px;
}
 .top-bar .contact-details i {
     margin-right: 8px;
}
 .top-bar .contact-details li {
     font-size: 15px;
     display: inline-block;
     line-height: 42px;
     font-weight:700;
     margin-left: 30px;
}
/* top-bar Social icons */
 ul.social-list {
     list-style-type: none;
}
 ul.social-list li a {
     display: inline-block;
     transition: all 0.2s ease-in-out;
}
 ul.social-list li a:hover {
     transform: scale(1.2);
     transition: all .3s ease-in-out;
}
 ul.social-list li a i {
     display: block;
     width: 34px;
     line-height: 42px;
     text-align: center;
     font-size: 18px;
}
/* =========================== Main Slider ============================ */

 #slider{
     width:100% !important;
}
 .header-wrapper {
     width: 100%!important;
}
 .header-wrapper .header-text {
     margin-top:15%;
     white-space:normal;
}
 .ls-outline .ls-nav-prev, .ls-outline .ls-nav-next{
     z-index:99!important;
     margin-top:40px!important;
}
/* Slider text boxes */
 .header-text.dog-elements:before {
     content: "\f13a";
     z-index: 0;
     text-shadow: 4px 6px 10px rgba(0, 0, 0, 0.14);
     font-size: 70px;
     transform: rotate(-20deg);
     font-family: "flaticon";
     font-size: 100px;
     top:-40px;
     position: absolute;
     left:0px;
}
 .header-text.cat-elements:before {
     content: "\f104";
     z-index: 0;
     text-shadow: 4px 6px 10px rgba(0, 0, 0, 0.14);
     font-size: 70px;
     transform: rotate(-20deg);
     font-family: "flaticon";
     font-size: 100px;
     top:-40px;
     position: absolute;
     left:0px;
}
 .header-text{
     max-width: 50%!important;
     text-align:center;
     background:rgba(255, 255, 255, 0.74);
     border-radius: 155px 45px 125px 75px/15px 125px 15px 155px;
     padding: 60px!important;
}
 .header-text h1{
     margin-bottom:20px;
}
 .header-p{
     font-size:24px;
     line-height:33px;
     margin-bottom:20px;
}
/* =========================== Video Header ============================ */
 #video-header{
     background-image: url(../videos/placeholder-video.jpg);
     background-size:cover;
}
 .video-text {
     max-width:100%;
     z-index:10;
     text-align: center;
    display: block;
    top: 45%;
    height: auto;
}
 .video-text h1 {
     margin-bottom: 0px;
     color: #fff;
}
 .video-text .navbar-brand span, .video-text .navbar-brand i{
     font-size:90px;
     line-height:70px;
	 vertical-align:baseline;
}
 .video-text .navbar-brand {
     white-space: initial;
}
 #video-header .video-overlay {
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0px;
     left: 0px;
     z-index: 2;
     background: rgba(0,0,0,0.3);
}
/*=========================== Services ============================ */
 .serviceBox{
     margin-bottom:20px;
     text-align: center;
}
 .serviceBox .service-icon{
     text-align: center;
     line-height: 100px;
     font-size: 120px;
     transition:all 0.3s ease-in-out;
}
 .serviceBox:hover .service-icon{
     transform: scale(1.2);
}
 .serviceBox .service-content{
     margin-top: 60px;
}
 .service-hover-box img {
     transition: all 0.3s;
}
 .service-hover-box .service-hover-caption {
     bottom: 0px;
     width: 100%;
     text-align:center;
     right: 0;
     padding: 20px;
     border-radius:20px;
     transition: all 0.3s;
     transform: translateY(0);
}
 .service-hover-box .service-hover-caption h4, .service-hover-box .service-hover-caption p {
     color: #ffffff;
}
 .service-hover-box:hover .service-hover-caption {
     transform: translateY(-18px);
     box-shadow: 0 15px 15px -15px #000000;
}
/*=========================== Adoption ============================ */
 .adopt-card{
     padding:10px;
     transition:all 0.3s ease-in-out;
}
 .adopt-card:hover{
     margin-top:-20px;
}
 .adoption-header {
     margin-top: 20px;
}
 .pet-adopt-info h6{
     margin-bottom:10px;
}
 .pet-adopt-info span{
     font-weight:500;
}
/*=========================== About us ============================ */
/* testimonials */
 .testimonial{
     margin: 0 15px;
}
 .testimonial .content:before{
     content: "\f10d";
     font-family: "Font Awesome 5 Free";
     font-weight: 900;
     display: inline-block;
     position: absolute;
     top: -30px;
     left: -10px;
     font-size: 36px;
}
 .testimonial .content{
     padding: 30px;
     border-radius:6px;
     margin-bottom: 15px;
     position: relative;
}
 .testimonial .content:after{
     content: "";
     border-top: 10px solid;
     border-left: 10px solid transparent;
     border-right: 9px solid transparent;
     position: absolute;
     bottom: -8px;
     left: 16%;
}
 .testimonial .description{
     margin-bottom: 10px;
     font-family: 'Quicksand', sans-serif;
     font-weight: 700;
}
 .testimonial-pic{
     float:left;
}
 .testimonial-pic > img{
     max-width: 120px;
     border-radius: 50%;
     border: 2px solid #e5e5e5;
     margin-left: 20px;
}
 .testimonial .testimonial-review{
     margin:3px 0 0 15px;
     float: left;
}
 .testimonial .testimonial-title{
     margin-bottom:0px;
}
 .testimonial .testimonial-review span{
     font-size:22px;
}
/* number counter */
 .counter{
     padding: 30px 20px;
     margin-top: 20px;
     border-radius: 20px;
     color: #fff;
     text-align: center;
     position: relative;
}
 .counter:before, .counter:after{
     content: "";
     width: 10px;
     height: 50px;
     border-radius: 5px;
     border: 2px solid #aaaeb1;
     background: #fff;
     background-image: repeating-linear-gradient( transparent, transparent 2px, #c9cbcc 2px, #c9cbcc 4px);
     position: absolute;
     top: -32px;
     left: 20%;
}
 .counter:after{
     left: auto;
     right: 20%;
}
 .counter .counter-icon{
     display: block;
     font-size: 70px;
     margin: 7px 0;
     height: 100px;
}
 .counter .counter-value{
     display: block;
     color:#fff;
     font-family:'Quicksand', sans-serif;
     font-weight: 700;
     font-size: 40px;
     letter-spacing: 2px;
     margin-bottom: 30px;
     position: relative;
}
 .counter .counter-value:before{
     content: "";
     width: 30%;
     height: 3px;
     background: rgba(255,255,255,0.3);
     margin: 0 auto;
     position: absolute;
     bottom: -10px;
     left: 0;
     right: 0;
}
 .counter .title{
     color: #fff;
     font-size: 18px;
     text-transform: uppercase;
     letter-spacing: 1px;
     margin: 0;
}
/* call to action */
 #call-to-action {
     background-attachment:fixed!important;
     background-size: cover!important;
     background: url(../img/calltoaction.jpg);
}
/*=========================== team ============================ */
/* team style 1 */
 .team-style1{
     margin-bottom:10px;
     padding: 10px 0px 0px;
     border-radius: 20px;
}
 .team-style1 .team-image{
     display: inline-block;
     width: 100%;
     height: 100%;
     padding: 20px;
     transition: all 0.5s ease 0s;
}
 .team-style1:hover .team-image{
     border-radius: 50%;
}
 .team-style1 .team-image img{
     width: 100%;
     height: auto;
     border-radius: 50%;
}
 .team-style1 .team-info{
     padding: 20px;
}
 .team-style1 h4{
     display: block;
     margin: 0 0 12px 0;
}
 .team-style1 h6{
     display: block;
     color:#808080;
     margin-bottom: 25px;
}
 .team-style1 .social{
     padding: 20px;
     margin: 0;
     text-align: center;
     list-style: none;
     bottom: 0px;
     border-radius: 0px 0px 15px 15px;
}
 .team-style1 .social li{
     display: inline-block;
     margin-right: 5px;
}
 .team-style1 .social li a{
     display: block;
     width: 50px;
     height: 50px;
     color:#fff!important;
     text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.12);
     line-height: 50px;
     border-radius: 50%;
     font-size: 25px;
     transition: all 0.5s ease 0s;
}
 .team-style1:hover .social li a:hover{
     color: #fff;
}

/* team style 2 */
 .team-style2 {
     overflow: hidden;
	 padding: 0px;
	 position:relative;
     background: #ffffff;
}
 .team-style2:before {
     position: absolute;
     content: '';
     height: 100%;
     width: 100%;
     z-index: 1;
     left: -50%;
     background: rgba(255, 255, 255, 0.7);
     border: 1px solid #fff;
     transition: all 0.4s ease-in-out;
     transform: skewX(-30deg) translateX(-80%);
}
 .team-style2 .team-caption {
     position: absolute;
     left: 0;
     top: 5%;
     text-align:center;
     width: 60%;
     z-index: 1;
     opacity: 0;
}
.team-style2 .name:before {
     content: "\f126";
     z-index: 0;
     color: #fff;
     opacity: 0.2;
     font-size: 70px;
     transform: rotate(-20deg);
     font-family: "flaticon";
     font-size: 50px;
     position: absolute;
     left: 10px;
     z-index: 0;
}
.team-style2 .name {
     bottom: 0;
     width: 100%;
     text-align: center;
     padding: 15px 10px;
     opacity: 1;
}
.team-style2 .name h4 {
     color:#fff;
     z-index: 2;
     margin-bottom:10px;
}
.team-style2 .name h6 {
     z-index: 2;
     margin-bottom:0px;
}
.team-style2 .team-caption .icons {
     width: 100%;
     padding: 8px 0;
}
.team-style2 .team-caption .icons i {
     display: block;
     font-size: 25px;
     color: #ffffff;
     margin-left: 35px;
     opacity: 0;
     height: 55px;
     opacity: 1;
     transition: all 0.4s ease-in-out;
     width: 55px;
     text-align: center;
     line-height: 55px;
     border-radius: 50%;
     margin-bottom: 10px;
}
.team-style2 .team-caption .icons i:hover {
     transform:scale(1.2);
}
 .team-style2:hover .team-caption {
     opacity: 1;
     transition-delay: 0.2s;
}
 .team-style2:hover:before{
     transform: skewX(-30deg) translateX(0px);
}
/* team style 3 */
 figure.team-style3 {
     background-color: #f2f2f2;
     padding: 20px;
}
 figure.team-style3 * {
     box-sizing: border-box;
     transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
 figure.team-style3 figcaption {
     position: relative;
     margin-top:20px;
}
 figure.team-style3 h4 {
     margin-bottom:10px;
}
 figure.team-style3 .icons {
     position: absolute;
     top: 25px;
     left: 25px;
}
 figure.team-style3 i {
     margin-right: 5px;
     display: inline-block;
     font-size: 28px;
     width: 40px;
     height: 40px;
     line-height: 40px;
     text-align: center;
     background: white;
     opacity: 0;
     transform: rotateX(90deg);
     box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
 figure.team-style3 a {
     opacity: 0.8;
}
 figure.team-style3 a:hover {
     opacity: 1;
}
 figure.team-style3:hover img {
     opacity: 0.3;
     filter: grayscale(100%);
}
 figure.team-style3:hover i {
     opacity: 1;
     transform: rotateX(0);
}
 figure.team-style3:hover a:first-child i {
     transition-delay: 0.1s;
}
 figure.team-style3:hover a:nth-child(2) i {
     transition-delay: 0.2s;
}
 figure.team-style3:hover a:nth-child(3) i{
     transition-delay: 0.3s;
}
/* =========================== Gallery ============================ */
 #owl-gallery.owl-carousel .owl-stage-outer {
     padding: 30px 0px 30px 0px;
}
#gallery-isotope{
	    overflow: hidden;
}
/* Isotope */
 .isotope-item {
     z-index: 2 
}
 .isotope-hidden.isotope-item {
     z-index: 1 
}
 .isotope, .isotope .isotope-item {
     transition-duration: 0.8s;
}
 .isotope-item {
     padding: 2px;
     margin-right: -1px;
     backface-visibility: hidden;
}
 .isotope {
     transition-property: height, width;
}
 .isotope .isotope-item {
     transition-property: transform, opacity;
}
/* Gallery thumbnail*/
 .gallery-thumb {
     display: block;
     position: relative;
     overflow: hidden;
}
 .gallery-thumb img {
     transition: all .4s ease-out;
}
 .gallery-thumb:hover img{
     transform: scale(1.2) rotate(-5deg);
}
 .scrollimation .gallery-thumb {
     transform: translateY(100px);
     opacity: 0;
     transition: opacity .4s ease-out, transform .4s ease-out;
}
 .touch .scrollimation .gallery-thumb, .scrollimation .gallery-thumb.in {
     transform: translateY(0px);
     opacity: 1;
}
/* thumbnail Overlay */
 .gallery-thumb .overlay-mask {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     z-index: 1;
     transition: opacity .3s ease-out;
     background: rgba(0, 0, 0, 0.53);
}
 .gallery-thumb:hover .overlay-mask {
     opacity:1;
}
/*=========================== Contact ============================ */
 .contact-icon{
     text-align:center;
     padding: 60px 20px 40px 20px ;
     background-color: #FFF;
     border: 5px solid ;
     border-radius: 5px;
	 position: relative;
}
 .contact-icon .top-icon{
     transition: all .3s ease-out;
     font-size: 60px;
     top: -30px;
     background: #fff;
     position: absolute;
     right: 0;
     left: 0;
     width: 100px;
     margin: auto;
}
 .contact-icon:hover .top-icon {
     top: -40px;
}
 .contact-icon .h7 {
     margin-top: 32px;
}
 .margin-icon{
     margin-right:10px;
}
/*=========================== Blog Pages ============================ */
 #blog-home .card.blog-card{
     border-bottom: 2px dotted #cecece;
     border-radius:0px;
}
 #blog-home .card.blog-card:last-child{
     border-bottom: 0px!important;
}
 .blog-card .post-info:before {
     content: "\f126";
     z-index: 0;
     opacity: 0.8;
     font-size: 70px;
     transform: rotate(-20deg);
     font-family: "flaticon";
     font-size: 20px;
     z-index: 0;
     text-shadow: 0px 1px 20px rgba(245, 240, 240, 0.9);
}
 .blog-card .post-info{
     padding-bottom:20px;
     font-family:'Quicksand', sans-serif;
     font-weight:700;
}
 .card.blog-card:first-child{
     padding-top:0px!important;
}
 .blog-card .card-img-top{
     border-bottom:10px solid transparent;
     transition: all .3s ease-out;
}
 .blog-card .card-img-top:hover{
     border-bottom:10px solid;
     border-radius: 20px;
}
 .blog-sidebar .card{
     background:none;
     padding: 20px;
}
 .comment{
     padding:30px 0px;
     border-bottom:1px dotted;
}
 .comment:last-child{
     border-bottom:0px;
}
/*=========================== Footer ============================ */
 footer{
     color:#fff;
     padding: 40px 0px;
     border-top: 5px double #ffffff;
}
 footer .navbar-brand span{
     color:#fff!important;
}
 .credits{
     margin-top: 50px;
}
 .credits p{
     font-weight:700;
     font-size:13px;
     margin-bottom:0px;
     text-align:center;
}
/*=========================== Miscellaneous ============================ */
/* light text */
 .text-light p, .text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6{
     color:#fff!important;
}
/* progress bar */
 .progress {
     margin: 5px;
}
/* elements page */
 .element-heading{
     text-align:center;
     border-bottom:1px dotted;
     padding:20px;
}
 .elements-subheader{
     border-radius:20px;
     background-color: #f5f5f5f5;
     padding: 20px;
     margin:40px 0px;
     font-size:24px;
     color:#808080;
     text-transform: uppercase;
}
 .element-block{
     padding:30px;
}
 .element-section{
     padding: 150px 100px;
}
 #glyphs {
     border-bottom: 1px solid #ccc;
     padding: 2em 0;
     text-align: center;
}
 .glyph {
     display: inline-block;
     width: 9em;
     margin: 1em;
     text-align: center;
     vertical-align: top;
     background: #FFF;
}
 .glyph .glyph-icon {
     padding: 10px;
     display: block;
     font-family:"Flaticon";
     font-size: 64px;
     line-height: 1;
}
 .glyph .glyph-icon:before {
     font-size: 64px;
     color: #222;
     margin-left: 0;
}
 .class-name {
     font-size: 0.65em;
     background-color: #222;
     color: #fff;
     border-radius: 4px 4px 0 0;
     padding: 0.5em;
     color: #FFFF99;
     font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
 .author-name {
     font-size: 0.6em;
     background-color: #fcfcfd;
     border: 1px solid #DEDEE4;
     border-top: 0;
     border-radius: 0 0 4px 4px;
     padding: 0.5em;
}
/* buttons */
 .btn {
     transition: background-color .2s ease-in-out;
     color: #fff!important;
     border:0px;
     font-size: 1rem;
     padding: 10px 20px;
     outline: none;
     letter-spacing: 0.2px;
     font-family: 'Quicksand', sans-serif;
     border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
     text-transform: uppercase;
     margin-top: 15px;
     white-space: normal;
     font-weight: bold;
}
 .btn-primary, .btn-secondary {
     transition: background .2s ease-in-out;
}
 .btn-lg {
     padding: 1.5rem 2.4rem!important;
     font-size: 1.25rem!important;
     line-height: 1.5;
}
 .btn-sm {
     padding: 0.6rem 0.6rem!important;
     font-size: 0.9rem!important;
}
 .btn-light {
     color: #212529!important;
}
 .btn-group-vertical>.btn, .btn-group>.btn{
     margin:0px;
}
 .btn-primary:hover, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active{
     outline:none;
     box-shadow:none!important;
}
 button:focus {
     outline: 0px;
}
/* background decorations */
 .dog-bg1,.dog-bg2,.dog-bg3,.cat-bg1,.cat-bg2,.cat-bg3, .paws-house-bg1 {
     position: relative;
     z-index: 1;
}
 .dog-bg1:before {
     z-index: 1;
     top: 100px;
     position: absolute;
     font-family: 'Flaticon';
     left: 10%;
     content: "\f121";
     font-size: 400px;
     opacity: 0.08;
     z-index: -1;
}
 .dog-bg2:before {
     position: absolute;
     font-family: 'Flaticon';
     left: 10%;
     content: "\f130";
     font-size: 400px;
     opacity: 0.08;
     top: 100px;
     z-index: -1;
}
 .dog-bg3:before {
     position: absolute;
     font-family: 'Flaticon';
     right: 10%;
     content: "\f16c";
     font-size: 400px;
     opacity: 0.08;
     top: 100px;
     z-index: -1;
}
 .cat-bg1:before {
     position: absolute;
     font-family: 'Flaticon';
     right: 10%;
     content: "\f122";
     font-size: 400px;
     opacity: 0.08;
     top: 100px;
     z-index: -1;
}
 .cat-bg2:before {
     position: absolute;
     font-family: 'Flaticon';
     left: 10%;
     content: "\f104";
     font-size: 400px;
     opacity: 0.08;
     top: 100px;
     z-index: -1;
}
 .cat-bg3:before {
     position: absolute;
     font-family: 'Flaticon';
     left:10%;
     top: 0px;
     content: "\f153";
     font-size: 400px;
     opacity: 0.08;
     top: 100px;
     z-index: -1;
}
 .paws-house-bg1:before {
     position: absolute;
     font-family: 'Flaticon';
     left: 10%;
     transform:rotate(5deg);
     content: "\f172";
     font-size: 400px;
     opacity: 0.08;
     top: 100px;
     z-index: -1;
}
/* social media */
 ul.social-media{
     list-style: none;
     font-size: 30px;
     padding: 0px;
     margin: 0px;
}
 ul.social-media li{
     margin: 0px 5px;
     line-height: 55px;
     display: inline-block;
}
 ul.social-media li:hover{
     transform: scale(1.2);
     transition: all .3s ease-out;
}
 ul.social-media i{
     transition: all .3s ease-out;
}
/* forms */
 .form-control {
     transition:all 0.3s ease-in-out;
     border:0;
     border: 2px solid;
     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
}
 .form-control input{
     height:50px;
}
 .form-control:focus{
     outline:none;
     box-shadow:none;
}
select.form-control {
	display:inline;
	appearance: auto;
	-webkit-appearance: auto;
    -moz-appearance: auto;
}
 .input-group-btn .btn{
     margin-top:0px;
     margin-left: 0px;
     border-radius: 0px 45px 255px 75px/0px 225px 15px 0px;
}
/* Blockquote */
 blockquote {
     padding: 20px;
     font-weight:700;
     font-family: 'Quicksand', sans-serif;
}
 blockquote footer{
     padding:0px;
     background:transparent!important;
     color: inherit;
}
 blockquote p{
     font-weight:700;
     font-size: 18px;
}
 cite:before{
     content:'― ';
}
 cite{
     font-style:normal;
}
 blockquote:before {
     content: "\f10d";
     font-weight:900;
     font-style:normal;
     font-family: "Font Awesome 5 Free";
     font-size: 2em;
     opacity: 0.7;
}
/* Blurb */
 .blurb-img {
     position: absolute;
     top: -300px;
     left: 0px;
     z-index:999;
}
 .featured-text {
     font-family:'Quicksand', sans-serif;
     font-size:17px;
     font-weight:500;
     letter-spacing: 0.2px;
     line-height:26px;
}
/* Big Triangle */
 svg#bigTriangleColor {
     pointer-events: none;
	 margin-top: -1px;
}
/* form label */
 label {
     margin-top: 10px;
}
/* border */
 .border-irregular1{
     border-radius: 155px 45px 225px 75px/15px 125px 15px 155px;
}
 .border-irregular2{
     border-radius: 75px 125px 45px 155px/155px 15px 155px 15px;
}
 .border-double{
     border: 10px double;
}
/* rotate img on hover */
 .rotate-img img {
     max-width: 100%;
     transition: all 0.3s;
}
 .rotate-img:hover img {
     transform: rotate(-5deg);
}
/* Map */
 #map-canvas {
     max-width: 100%;
     min-height: 450px;
}
/* Go to top icon */
 .back-to-top {
     display: none;
     position: fixed;
     bottom: 40px;
     right: 42px;
     transition: all 0.2s ease-in-out;
     z-index: 119;
}
 .back-to-top i {
     display: block;
     width: 44px;
     height: 44px;
     line-height: 40px;
     font-size: 32px;
     color: #fff;
     border-radius: 50%;
     text-align: center;
}
 .back-to-top:hover{
     transform: scale(1.3);
}
/*Nav-tabs */
 .nav-tabs .nav-link {
     font-size: 22px;
     padding: 20px;
     font-family: 'Quicksand', sans-serif;
     font-weight: 700;
     color:#675444;
}

 .nav-tabs .nav-link:focus {
     color:#fff!important;
}
 .nav-tabs ,.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
     border:0px;
}
 .tab-content{
     padding: 50px;
     border:0px;
}
/* centered navs */
 .center-nav {
     display: flex;
     justify-content: center;
}
/* cards */
 .card {
     display:block;
     color:#808080;
 }

 .card-header{
     background:none;
}
 .card-title{
     transition: all 0.2s ease-in-out;
}
 a .card-title:hover {
     color: inherit;
}
/* accordions */
 .accordion-cards .card {
     border: 0px;
     display:block;
     padding:0px;
     border-radius: 0px;
     background: #fff;
}
.accordion-cards .card-header:after {
	content: "\f077";
	font-weight:900;
	float:right;
	display:block;
	font-family: "Font Awesome 5 Free";
	font-size: 1em;
	opacity: 0.7;
	margin-top: -25px;
}
.accordion-cards  .card-header:not(.collapsed):after{
     transform:rotate(180deg);
}
 .accordion-cards .card-header {
     padding: 10px 20px;
     border-radius:5px;
     border-bottom: 0;
     transition:all 0.8s;
     color:#fff!important;
     margin:5px;
     cursor:pointer;
}
 .accordion-cards .card-header .show {
     background-color:#cecece;
}
 .card.active > .card-header{
     background-color: red!important;
}
 .card-header h6{
     color:#fff!important;
}
 .accordion-cards .card-body{
     margin: 0 20px;
     padding: 40px;
     border-radius: 5px;
}
/* light background */
 .bg-light{
     background:#f5f5f5!important;
}
/* section */
 section{
     background:#fff;
     padding-top:120px;
     padding-bottom:120px;
}
 .no-padding{
     padding-top:0px;
     padding-bottom:0px;
}
 .section-heading {
     text-align:center;
     margin-bottom:100px;
}
 .section-heading:before {
     content: "\f126";
     z-index: 0;
     font-family: "flaticon";
     font-size: 50px;
     bottom: -20px;
     z-index: 0;
     text-shadow: 0px 4px 17px rgba(255, 255, 255, 0.6);
}

.section-heading-residencia:before {
    content: "\f189";
}

.section-heading-educacion:before {
    content: "\f116";
}

.section-heading-intervenciones:before {
    content: "\f117";
}

/* custom ul */
 ul.custom {
     list-style: none;
}
 ul.custom li {
     padding: 5px 0px;
     font-size: 16px;
     line-height: 26px;
}
 ul.custom li:before {
     font-family: "Flaticon";
     content: "\f126";
     padding-right: 7px;
}
/* white border if bg same color as form border */
 .bg-primary .form-control{
     border-color:#fff;
}
/*cards */
 .card{
     border:0px;
     border-radius: 155px 45px 225px 75px/15px 125px 15px 155px;
     padding:40px;
}
/* block padding */
 .block-padding{
     padding-top:70px;
     padding-bottom:70px;
}
 .bottom-block-padding{
     padding-top: 70px;
}
/* overlay background */
 .overlay{
     box-shadow:inset 0 0 0 1000px rgba(41, 41, 41, 0.42);
}
/* list group */
 .list-group{
     font-weight:700;
     font-size:18px;
}
 .list-group-item{
     font-family:'Quicksand', sans-serif;
     transition: all 0.2s ease-in-out;
     margin-bottom: 4px;
     background-color: #fff;
     border: 0px;
     border-radius: 5px!important;
}
 .list-group-item-action:focus, .list-group-item-action:hover{
     color:#fff;
}
/* Jumbotron */
 .jumbotron{
     background-image: url(../img/jumbotron.jpg);
     background-size: cover;
     margin-bottom: 0px;
     position: relative;
     background-position: center center;
     text-align: center;
     padding: 10px;
}

.jumbotron-instalaciones{
    background-image: url(../img/instalaciones.jpg) !important;
}

.jumbotron-club{
    background-image: url(../img/club.jpg) !important;
}

.jumbotron-residencia{
    background-image: url(../img/residencia.jpg) !important;
}

.jumbotron-iap{
    background-image: url(../img/instalaciones.jpg) !important;
}

.jumbotron-equipo{
    background-image: url(../img/instalaciones.jpg) !important;
}

.jumbotron-contacto{
    background-image: url(../img/jumbotron.jpg) !important;
}

.jumbotron-educacion{
    background-image: url(../img/educacion.jpg) !important;
}

 .jumbo-heading .section-heading {
     margin-bottom: 0px;
}
 .jumbo-heading .section-heading h1 {
     color:#fff;
}
/* Owl-carousel */
 .owl-prev, .owl-next {
     position: absolute;
     top: 50%;
     border-radius: 50%;
     text-align: center;
}
 .owl-nav {
     margin: 0 auto;
     top: -20px;
     left: 50%;
}
 .owl-prev {
     left: -15px;
}
 .owl-next {
     right: -15px;
}
 .owl-prev i, .owl-next i {
     transition: all .3s ease-in-out;
     border-radius:50%;
     color:#fff!important;
     font-size: 20px;
     height: 30px;
     width: 30px;
     line-height: 30px;
}
 .owl-carousel.owl-loaded {
     display: block;
     clear: both;
    /* Important fix */
}
 .owl-dots {
     text-align: center;
     margin-top: 10px;
}
.owl-carousel .owl-stage-outer{
    margin-top: -7px;	
}
 .owl-theme .owl-dots .owl-dot {
     display: inline-block;
}
 .owl-theme .owl-dots .owl-dot span {
     border: 2px solid #cecece;
     position: relative;
     display: inline-block;
     vertical-align: top;
     width: 1rem;
     height: 1rem;
     margin: 0 0.3rem;
     border-radius: 50%;
     cursor: pointer;
     color: #333;
     transition: all 0.3s ease-in-out;
}
 .owl-carousel .owl-stage {
     margin-top: 20px;
}
/* owl carousel with navigation on top */
 .top-centered-nav .owl-nav {
     position: absolute;
}
 .top-centered-nav .owl-prev, .top-centered-nav .owl-next {
     top: 0%;
}
 .top-centered-nav .owl-prev {
     left: -40px;
}
 .top-centered-nav .owl-next {
     right: -40px;
}
/* fade-effect owl carousel */
 .fade-effect.owl-carousel .owl-item {
     perspective: 1000px;
     opacity: 0.7;
     transform: scale(0.8);
     transition: all 1s ease-in-out;
}
 .fade-effect.owl-carousel .owl-item.active {
     opacity: 1;
     transform: scale(1);
}
/* Mailchimp message */
 #mce-error-response, #mce-success-response {
     display: none;
     margin-top:20px;
}
/* Page margin*/
 .page{
     background:#fff;
     padding-top:120px;
     padding-bottom:120px;
}
/* opacity on hover */
 .hover-opacity{
     transition: all 0.4s ease-in-out;
}
 .hover-opacity:hover{
     opacity:0.8;
     border-radius: 20px;
}
/* bg-secondary */
 .bg-secondary a:hover{
     color:#f8f8f8;
}
/* alerts */
 .alert-primary,.alert-secondary{
     color:#fff;
}
/* nav pills */
 .nav-pills .nav-link {
     font-size: 22px;
     color:#fff;
     margin: 5px 10px;
     transition: all 0.2s ease-in-out;
     font-family: 'Quicksand', sans-serif;
     font-weight: 700;
}
 .nav-link.disabled {
     color: #6c757d!important;
}
/* pills /badges */
 .badge-pill {
     padding: 10px;
     margin:3px;
}
 .badge-default{
     color:#fff;
}
/* breadcrumbs */
 .breadcrumb {
     color:#fff;
     font-family:'Quicksand', sans-serif;
     font-weight:700;
     background: transparent;
     padding: 20px;
     text-transform: uppercase;
     font-size: 13px;
     display: inline-flex;
     padding-bottom: 0px;
}
 .breadcrumb a {
     color:#fff;
}
 .breadcrumb-item.active {
     color: #cecece;
}
 .breadcrumb-item+.breadcrumb-item::before {
     color: #fff;
     font-size:10px;
     font-family: "Font Awesome 5 Free";
     font-weight: 900;
     content: "\f054";
}
/* pagination */
 .page-link:hover,.page-link:focus,.page-link.active{
     color:#fff;
     border: 1px solid #fff;
     outline:0;
}
 .page-link{
     transition: all 0.2s ease-in-out;
     font-family: 'Quicksand', sans-serif;
     color:#fff;
     font-weight:700;
     border: 1px solid #fff;
}

/*=========================== Customm ============================ */
.paquete-precio{
    color: #F9575C;
}

.oculto{
    display: none;
}

area{
    cursor: pointer;

}

.highlight {
    border: 10px solid #000000;
    background: RGBA(0,0,0,0);
    display: block;
}

#nuestras-instalaciones .list-group-item{
    cursor: pointer;
}

.map-instalaciones {
    position: relative;
    width: 100%;
}
  
.imagen-instalaciones {
    width: 100%;
    height: auto;
    }

.pointer-instalaciones{
    width: 25px;
    cursor: pointer;
}

.pointer-instalaciones:hover{
    content: url(../img/chincheta.png);
}

.pointer-instalaciones-seleccionado{
    content: url(../img/chincheta.png);
}
  
#pointer-pista-educacion {
    position: absolute;
    top: 30%;
    left: 15%;  
    height: auto;
}

#pointer-zona-recreo {
    position: absolute;
    top: 57%;
    left: 20%;  
    height: auto;
}

#pointer-residencia {
    position: absolute;
    top: 52%;
    left: 32%;  
    height: auto;
}

#pointer-aparcamiento {
    position: absolute;
    top: 54%;
    left: 58%;  
    height: auto;
}

#pointer-vivienda {
    position: absolute;
    top: 39%;
    left: 52%;  
    height: auto;
}

#pointer-oficina {
    position: absolute;
    top: 28%;
    left: 56%;  
    height: auto;
}

#pointer-esparcimiento {
    position: absolute;
    top: 25%;
    left: 34%;  
    height: auto;
}


/*=========================== Media queries ============================ */
/* Small devices (landscape phones, 544px) */
 @media (max-width: 544px) {
    .pointer-instalaciones{
        width: 20px;
    }

     .header-wrapper .header-text {
         margin-top: 20%;
         width:50%;
    }
     .header-text h1 {
         margin-bottom: 0px!important;
    }
     .header-text:before{
         display:none!important;
    }
     .ls-bottom-nav-wrapper {
         bottom: -10px;
    }
    /*video header */
     .video-text h1 {
         font-size:1.4em;
         width: 100%;
    }
    /* others */
     .jumbotron h1 {
         font-size: 2.1em!important;
    }
     .navbar-brand span {
         font-size:30px;
    }
     .navbar-brand i {
         font-size:40px;
    }
     .navbar-collapse.show, .navbar-collapse {
         max-height: 300px !important;
    }
    
     .input-group .form-control, .input-group-btn {
         display: inline-table;
         width: 100%;
         margin-top: 10px;
    }
     .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child), .input-group-btn .btn{
         border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
    }
     .card {
         padding: 20px;
    }
     .testimonial-pic , .testimonial .testimonial-review {
         float: none;
         text-align:center;
    }
     .testimonial-pic > img, .testimonial .testimonial-review {
         margin: 0 auto;
    }
     .btn-lg {
         padding: 20px!important;
    }
     .video-text .navbar-brand span, .video-text .navbar-brand i{
         font-size:40px!important;
         line-height: 30px!important;
    }
     .back-to-top {
         right: 12px;
    }
     .card.blog-card {
         padding: 30px 0px;
    }
     .card-header {
         padding: .75rem 0rem;
    }
     .blog-sidebar .card {
         padding: 0px;
    }
     .text-xs-center {
         text-align: center;
    }
}

 @media (max-width: 768px) {
	 
    .element-section{
        padding: 30px 20px;
    }


    /* section */
     section {
         padding-top: 40px;
         padding-bottom: 40px;
    }
     .section-heading {
         margin-bottom: 40px;
    }
     .section-heading:before {
         font-size: 40px;
    }
    /* owl carousel navigation on top */
     .owl-nav {
         margin: 0 auto;
         top: 0px;
         left: 50%;
         position: absolute;
    }
     .owl-prev, .owl-next {
         top: 0%;
    }
     .owl-prev {
         left: -40px;
    }
     .owl-next {
         right: -40px;
    }
     .owl-carousel .owl-stage {
         margin-top: 50px;
    }
    /* typography */
     h1{
         font-size:2.4em;
    }
     h2{
         font-size:2.0em;
    }
     h3 {
         font-size: 1.7em;
    }
     h4 {
         font-size: 1.5em;
    }
    h5 {
        font-size: 1.2em;
   }
   h6 {
    font-size: 1em;
    }
     .h7{
         font-size:16px;
         line-height:27px;
    }
     .header-p {
         font-size: 18px;
         line-height: 23px;
         margin-bottom:10px;
    }
     .header-text h1 {
         margin-bottom: 20px;
         font-size: 4em;
    }
    .header-text .btn{
        font-size: 2.5em;
    }
    /* others */
     .page {
         padding-top: 50px;
         padding-bottom: 50px;
    }
     footer{
         padding:30px;
    }
     .block-padding{
         padding-top: 40px;
         padding-bottom: 40px;
    }
     .bottom-block-padding{
         padding-top: 40px;
         padding-bottom: 0px;
    }
     .mt-5, .my-5 {
         margin-top: 1rem!important;
    }
     .contact-icon:hover .top-icon {
         top: -20px;
    }
     .contact-icon .top-icon, .contact-icon {
         margin-top: 20px;
    }
     .ls-outline .ls-nav-prev, .ls-outline .ls-nav-next{
         display:none!important;
    }
     .video-text .navbar-brand span, .video-text .navbar-brand i{
         font-size:60px;
         line-height: 60px;
    }
     .top-bar .contact-details li{
         font-size: 11px!important;
    }
     .top-bar ul.social-list li a i {
         width: 10px;
         line-height: 42px;
         font-size: 14px;
    }
     .top-bar .contact-details i {
         margin-right: 3px;
         margin-left: 3px;
    }
    
}
/* Medium- Large devices (desktops, 992px) */
 @media (max-width: 992px) {
    /* slider */
     .header-text:before{
         font-size:50px!important;
         margin-top:30px;
    }
    /*top bar */
     .top-bar .contact-details li {
         font-size: 13px;
    }
     .top-bar .contact-details li {
         margin: 0px!important;
    }
     .top-bar .contact-details i {
         margin-right: 8px;
         margin-left: 8px;
    }
    /* others */
     .dog-bg1:before, .dog-bg2:before, .cat-bg2:before, .cat-bg3:before, .paws-house-bg1:before, .dog-bg3:before, .cat-bg1:before{
         display:none;
    }
     .res-margin{
         margin-top:30px;
    }
     .adopt-card:hover{
         margin-top:30px;
    }
     .navbar-collapse.show {
         max-height: 400px;
    }
     .navbar-collapse {
         max-height: 400px ;
    }
     .navbar-collapse::-webkit-scrollbar {
         width: 10px;
    }
     .navbar-collapse::-webkit-scrollbar-track {
         background-color: lightgray;
    }
     .navbar-collapse::-webkit-scrollbar-thumb {
         background-color: darkgray;
    }
     .navbar-collapse.show {
         overflow-y: scroll!important;
         overflow-x: hidden!important;
    }
	#call-to-action{
		     background-attachment:scroll!important;
	}
    
}
/* Large devices (large desktops, min 1200px ) */
 @media (min-width: 1200px) {
    /* navigation */
     .navbar-nav .nav-link {
         height: 60px;
    }
     .navbar{
         height: 106px;
         line-height: 45px;
    }
	
     .dropdown-menu{
         margin-top:30px;
    }
   
}
/* Large devices (large desktops, max 1200px) */
 @media (max-width: 1200px) {
    /* navigation */
     .dropdown-menu:before{
         display:none;
    }
     .navbar .nav-item{
         margin-top: 20px;
    }
	.navbar {
           padding: 20px;
    }
     .dropdown-item, .navbar-nav .nav-link{
         text-align:center;
    }
     .dropdown-item {
         padding: 0.8rem;
    }
     .navbar-collapse.show {
         display: block;
         padding-bottom: 40px;
    }

     .header-text {
         min-width: 70%!important;
         left:5%;
         padding:20px!important;
         position:absolute;
         right:5%;
    }
    /* blurb */
     .blurb-img {
         margin: 0 auto;
         display: -webkit-box;
         top:0;
         position: relative;
    }
   
}
/* Extra large devices (large desktops, 1920px or more) */
 @media (min-width: 1920px) {
    /*background decorations */
     .dog-bg1:before, .dog-bg2:before, .cat-bg2:before, .cat-bg3:before, .paws-house-bg1:before {
         left:18% 
    }
     .dog-bg3:before, .cat-bg1:before{
         right:18% 
    }
}
 