{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta %}
    <meta name="description" content="{{ post.meta_description }}">
    <meta name="keywords" content="{{ post.meta_keywords }}">
{% endblock %}

{% block content %}


<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid overlay jumbotron-instalaciones">
<div class="jumbo-heading">
    <!-- section-heading -->
    <div class="section-heading" data-aos="zoom-in">
        <h1>{{post.title}}</h1>
    </div>
    <!-- /section-heading -->
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">{% trans "Inicio" %}</a></li>
            <li class="breadcrumb-item"><a href="blog">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li>
        </ol>
    </nav>
</div>
<!-- /jumbo-heading -->
</div>
<!-- /jumbotron -->
<!-- ==== Page Content ==== -->
<div class="page">
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8 col-xl-9 card blog-card">
            <div class="card-body">
                <!-- Post info-->

                <div class="post-content">
                    {{ post.get_markdown_content }}
                </div>
                <hr>
                <div class="post-info border-irregular2 text-muted">
                    Escrito por {{post.author}} el {{post.publish.date}}
                </div>
                <p class="tags">
                    {% for tag in post.tags.all %}
                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}" 
                        class="badge badge-pill badge-default">{{ tag.name }}
                    </a>
                    {% endfor %}
                </p>
            </div>
        </div>
        <!-- /col-lg -->

        <!-- Sidebar Widgets Column -->
        {% include "blog/sidebar.html" %}
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
</div>
<!-- /page -->



{% endblock %}