{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}


<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid overlay jumbotron-instalaciones">
<div class="jumbo-heading">
    <!-- section-heading -->
    <div class="section-heading" data-aos="zoom-in">
        <h1>Blog</h1>
    </div>
    <!-- /section-heading -->
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">{% trans "Inicio" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
        </ol>
    </nav>
</div>
<!-- /jumbo-heading -->
</div>
<!-- /jumbotron -->
<!-- ==== Page Content ==== -->
<div id="blog-home" class="page">
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-lg-8 col-xl-9">
            <!-- Blog Post -->

            {% for post in posts %}
            <article class="card blog-card">
                <!-- Post info-->
                <a href="{{ post.get_absolute_url }}">
                    {% if post.featured_image %}
                    <img class="card-img-top img-fluid" src="{{ post.featured_image.url }}" >
                    {% endif %}
                </a>
                <div class="card-body">
                    <a href="{{ post.get_absolute_url }}">
                        <h2 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    </a>
                    <div class="post-info border-irregular2 text-muted">
                        Escrito por {{post.author.first_name}} {{post.author.last_name}} el {{post.publish.date}}
                    </div>
                    <p>{{ post.summary }}</p>
                    
                    <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Leer más &rarr;</a>
                </div>
                <!--card-footer -->

            </article>
            {% endfor %}

        </div>
        <!-- /col-lg-8 -->

        <!-- Sidebar Widgets Column -->
        {% include "blog/sidebar.html" %}

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
</div>



{% endblock %}