{% load static %}
{% load i18n %}

<div class="blog-sidebar bg-light-custom  h-50 border-irregular1 col-lg-4 col-xl-3 text-center">
    <div class="card">
        <h5 class="card-header">Blog Alcanza</h5>
        <div class="card-body">
            <img src="{% static 'img/alcanza-logo.png' %}" class="img-fluid">
            <p class="mt-2">Falemos de cans, consellos e noticias.</p>
        </div>
     </div>

    <div class="card">
        <h5 class="card-header">Etiquetas</h5>
        <div class="card-body">
            {% for tag in all_tags%}
            <a href="{% url 'blog:post_list_by_tag' tag.slug %}" 
                class="badge badge-pill badge-default">{{ tag.name }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>