{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
   <head>

      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-PVN6B6PT21"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PVN6B6PT21');
      </script>

      <meta charset="utf-8">
      <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      {% block meta %}
      {% endblock %}
      <!-- page title -->
      <title>Alcanza</title>
      <!--[if lt IE 9]>
      <script src="js/respond.js"></script>
      <![endif]-->
      <!-- Font files -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700&display=swap" rel="stylesheet">
      <link href="{% static 'fonts/flaticon/flaticon.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'fonts/fontawesome/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <!-- Fav icons -->
      <link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-icon-57x57.png' %}">
      <link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-icon-72x72.png' %}">
      <link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-icon-114x114.png' %}">
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
      <!-- Bootstrap core CSS -->
      <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- style CSS -->
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
      <!-- plugins CSS -->
      <link href="{% static 'css/plugins.css' %}" rel="stylesheet">
      <!-- Colors CSS -->
      <link href="{% static 'styles/maincolors.css' %}" rel="stylesheet">
      <!-- LayerSlider CSS -->
      <link rel="stylesheet" href="{% static 'vendor/layerslider/css/layerslider.css' %}">
   </head>

   <!-- ==== body starts ==== -->

   <body id="top">
      <!-- Preloader-->
      <div id="preloader">
         <div class="spinner">
            <div class="bounce1"></div>
         </div>
      </div>
      <!-- /Preloader ends -->
      <nav id="main-nav" class="navbar-expand-xl">
         <!-- Start Top Bar -->
         <div class="container-fluid top-bar">
            <div class="container">
               <div class="row">
                  <div class="col-md-8 d-none d-md-block">
                     <!-- Start Contact Info -->
                     <ul class="contact-details float-left">
                        <li><i class="fa fa-map-marker"></i> Lugar Ermelo 14A - Bueu</li>
                        <li class="d-none d-xl-inline"><i class="fa fa-envelope"></i><a href="mailto:contacta@alcanzaespazocanino.es">contacta@alcanzaespazocanino.es</a></li>
                        <li><i class="fa fa-phone"></i>629 03 75 66</li>
                     </ul>
                     <!-- End Contact Info -->
                  </div>
                  <!-- /col -->
                  <div class="col-12 col-md-4 float-start">
                     <ul class="social-list list-inline d-inline d-md-none">
                        <li class="list-inline-item"><a  title="Instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a  title="TikTok" href="#"><i class="fab fa-tiktok"></i></a></li>
                     </ul>
                     <!-- Start Social Links -->
                     <ul class="social-list float-end list-inline">
                        <li class="list-inline-item d-none d-md-inline"><a  title="Instagram" href="https://www.instagram.com/alcanza_espazocanino/"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item d-none d-md-inline"><a  title="TikTok" href="https://tiktok.com/@alcanza_espazocanino"><i class="fab fa-tiktok"></i></a></li>
                        <li class="list-inline-item ms-5"><a  title="Lenguaje" href="{% url 'change_language' %}"><i class="fa fa-globe me-2 me-md-0"></i></a>{% trans "ES" %}</li>
                     </ul>
                     <!-- /End Social Links -->
                  </div>
                  <!-- /col -->
               </div>
               <!-- /row -->
            </div>
            <!-- /container -->
         </div>
         <!-- End Top bar -->
         
         <!-- Navbar Starts -->
         <div class="navbar container-fluid">
            <div class="container">
               <!-- logo -->
               <a class="navbar-brand" href="/">
                  <img src="{% static 'img/alcanza-logo.png' %}" height="80px"> 
                  <span>Alcanza</span>
               </a>
               <!-- Navbartoggler -->
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggle-icon">
               <i class="fas fa-bars"></i>
               </span>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ms-auto">
                     <!-- menu item -->
                     <li class="nav-item">
                        <a class="nav-link" href="/">{% trans "Inicio" %}
                        </a>
                     </li>
                     <!-- menu item -->
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="services-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Servicios" %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="services-dropdown">
                           <a class="dropdown-item" href="/residencia-canina">{% trans "Residencia canina" %}</a>
                           <a class="dropdown-item" href="/educacion-canina">{% trans "Educación canina" %}</a>
                           <a class="dropdown-item" href="/intervenciones-asistidas-por-perros">{% trans "Intervenciones asistidas por perros" %}</a>
                           <a class="dropdown-item" href="/nuestro-club">{% trans "Nuestro club" %}</a>
                        </div>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/instalaciones">{% trans "Instalaciones" %}
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/equipo">{% trans "Equipo" %}
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/blog">{% trans "Blog" %}
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/contacto">{% trans "Contacto" %}
                        </a>
                     </li>
                     <!-- menu item -->
                  </ul>
                  <!--/ul -->
               </div>
               <!--collapse -->
            </div>
            <!-- /container -->
         </div>
         <!-- /navbar -->
      </nav>
      <!-- /nav -->

      {% block content %}
      {% endblock %}
   
      <!-- ==== footer ==== -->
      <footer class="text-light">
         <div class="container">
            <div class="row">
               <div class="col-lg-8">
                  <a class="navbar-brand" href="/"><i class="flaticon-dog-20"></i><span>Alcanza</span></a>
                  <p class="mt-3">{% trans "Forjando vínculos fuertes, alcanzando metas juntos." %}</p>
               </div>
               <!--/ col-lg -->
               <div class="col-lg-4">
                  <h6><i class="fas fa-envelope margin-icon"></i>{% trans "Contacto" %}</h6>
                  <ul class="list-unstyled">
                     <li>629 03 75 66</li>
                     <li><a href="mailto:contacta@alcanzaespazocanino.es">contacta@alcanzaespazocanino.es</a></li>
                     <li>Lugar Ermelo 14A - Bueu </li>
                  </ul>

                  <ul class="list-inline">
                     <li class="list-inline-item"><a  title="Instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                     <li class="list-inline-item"><a title="TikTok" href="#"><i class="fab fa-tiktok"></i></a></li>
                  </ul>
                  <!--/ul -->
               </div>
               <!--/ col-lg -->
            </div>
         </div>
         <!--/ container -->
         <!-- Go To Top Link -->
         <div class="d-none d-md-block">
            <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
         </div>
         <!--/page-scroll-->
      </footer>
      <div class="text-center">
         <img src="{% static 'img/logo_kit_digital.jpg' %}" 
         class ="my-3 px-5 mw-100"
         height="80px"> 
      </div>

      <!--/ footer-->

      <script>
         var static_url = "{% get_static_prefix %}";
     </script>

      <!-- Bootstrap core & Jquery -->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
      <!-- Custom Js -->
      <script src="{% static 'js/custom.js' %}"></script>
      <script src="{% static 'js/plugins.js' %}"></script>
      <!-- Prefix free -->
      <script src="{% static 'js/prefixfree.min.js' %}"></script>
      <!-- GreenSock -->
      <script src="{% static 'vendor/layerslider/js/greensock.js' %}"></script>
      <!-- LayerSlider script files -->
      <script src="{% static 'vendor/layerslider/js/layerslider.transitions.js' %}"></script>
      <script src="{% static 'vendor/layerslider/js/layerslider.kreaturamedia.jquery.js' %}"></script>
      <script src="{% static 'vendor/layerslider/js/layerslider.load.js' %}"></script>
      <!-- Mailchimp script -->
      <script src="{% static 'js/mailchimp.js' %}"></script>
      <!-- number counter script -->
      <script src="{% static 'js/counter.js' %}"></script>
      <!-- Contact Form script -->
      <script src="{% static 'js/contact.js' %}"></script>
      <!-- Map -->
      <script src="{% static 'js/map.js' %}"></script>      
   </body>
</html>