{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="jumbotron jumbotron-fluid overlay jumbotron-contacto">
   <div class="jumbo-heading">
      <!-- section-heading -->
      <div class="section-heading" data-aos="zoom-in">
         <h1>{% trans "Contacto y horario" %}</h1>
      </div>
      <!-- /section-heading -->
      <!-- Breadcrumbs -->
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">{% trans "Inicio" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Contacto" %}</li>
         </ol>
      </nav>
   </div>
   <!-- /jumbo-heading -->
</div>
<!-- /jumbotron -->

<!-- ==== Page Content ==== -->
<div class="page pb-0">
   <div class="container block-padding pt-0">
      <div class="row">
         <div class="col-md-6 mb-5">
            <img src="{% static 'img/horario-general.png' %}" alt="" class="img-fluid border-irregular2"  data-aos="zoom-in"  >
         </div>
         <div class="col-md-6 mb-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d492.34506908364483!2d-8.763296831174124!3d42.30550089936032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f66ba3f894b0f%3A0xd2e002f283471341!2sLugar%20Ermelo%2C%2014D%2C%2036938%2C%20Pontevedra!5e0!3m2!1ses!2ses!4v1715096105711!5m2!1ses!2ses" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row text-xs-center text-sm-center text-md-center text-lg-start">
         <!-- contact-info-->
         <div class="contact-info col-lg-5 mb-5">
            <h4>{% trans "¡Contáctanos!" %}</h4>
            <!-- Form Starts -->
            <div id="contact_form">
               <div class="form-group">
                  <div class="row">
                     <div class="col-md-6">
                        <label>{% trans "Nombre" %}<span class="required">*</span></label>
                        <input type="text" name="name" class="form-control input-field" required="">
                     </div>
                     <div class="col-md-6">
                        <label>{% trans "Email" %} <span class="required">*</span></label>
                        <input type="email" name="email" class="form-control input-field" required="">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <label>{% trans "Asunto" %}</label>
                        <input type="text" name="subject" class="form-control input-field">
                     </div>
                     <div class="col-md-12">
                        <label>{% trans "Mensaje" %}<span class="required">*</span></label>
                        <textarea name="message" id="message" class="textarea-field form-control" rows="3"
                           required=""></textarea>
                     </div>
                  </div>
                  <button type="submit" id="submit_btn" value="Submit" class="btn btn-primary">{% trans "Enviar mensaje"%}</button>
               </div>
               <!-- /form-group-->
               <!-- Contact results -->
               <div id="contact_results"></div>
            </div>
            <!-- /contact)form-->
         </div>
         <!-- /contact-info-->
         <div class="col-lg-6 offset-lg-1 h-50 card bg-secondary res-margin mb-5">
            <div class="contact-info text-light ">
               <!-- contact-info-->
               <div class="text-light">
                  <h5>{% trans "Información" %} </h5>
                  <p>{% trans "Os dejamos por aquí nuestros datos de contacto, si tienes cualquier pregunta no dudes en ponerte en contacto con nosotras. Si quieres estar al tanto de todas nuestras novedades síguenos en nuestras redes sociales." %}
                  </p>
                  <!-- contact icons-->
                  <ul class="list-unstyled mt-5 list-contact">
                     <li class="h7"><i class="fa fa-envelope margin-icon"></i><a
                           href="mailto:contacta@alcanzaespazocanino.es">contacta@alcanzaespazocanino.es</a></li>
                     <li class="h7"><i class="fa fa-phone margin-icon"></i>629 03 75 66</li>
                     <li class="h7"><i class="fa fa-map-marker margin-icon"></i>Lugar Ermelo 14A (Carretera de Ermelo a
                        Moaña) Bueu.</li>
                     <li class="h7 mt-4">
                        <a href="https://www.instagram.com/alcanza_espazocanino/"><i class="fab fa-instagram fa-2x me-2"></i></a>
                        <a href="https://tiktok.com/@alcanza_espazocanino"><i class="fab fa-tiktok fa-2x"></i></a>
                     </li>
                  </ul>
                  <!-- /list-->
               </div>
               <!-- /text-light -->
            </div>
            <!-- /contact-info-->
         </div>
         <!-- /col-lg-->
      </div>
      <!-- /row-->
   </div>
   <!-- /container -->
</div>

{% endblock %}