{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="jumbotron jumbotron-fluid overlay jumbotron-educacion">
    <div class="jumbo-heading">
       <!-- section-heading -->
       <div class="section-heading section-heading-educacion" data-aos="zoom-in">
          <h1>{% trans "Educación canina" %}</h1>
       </div>
       <!-- /section-heading -->
       <!-- Breadcrumbs -->
       <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="/">{% trans "Servicios" %}</a></li>
             <li class="breadcrumb-item active" aria-current="page">{% trans "Educacion canina" %}</li>
          </ol>
       </nav>
       <!-- /nav -->
    </div>
    <!-- /jumbo-heading -->
 </div>
 <!-- /jumbotron -->
 <div class="page">
    <div class="container">
       <div class="row">
          <!-- /col-md-6 -->
          <div class="col-lg-9">
             <div class="row">
                <div class="col-lg-4 mb-lg-0 mb-5">
                   <img src="{% static 'img/alcanza-espazo-canino-adiestramiento-educacion-greteluski-canina-cangas-bueu-moaña.jpg' %}" class="border-irregular1 img-fluid" alt="">
                </div>
                   <!-- /col -->
                <div class="col-lg-8 text-xs-center text-sm-center text-md-center text-lg-start">
                   <h3>{% trans "Educación canina" %}</h3>
                   <p>{% trans "En ALCANZA  abogamos por el bienestar de nuestros compañeros peludos, para ello contamos con personal especializado en nutrición y educación canina. Ofrecemos una visión holística que permita alcanzar un vínculo positivo entre humanos y perretes.  Por eso trabajamos con una metodología positiva basada en la evidencia científica, dando un trato amigable y respetuoso a los perretes. Aplicamos los principios de la psicología a la educación canina. Nos centramos en ayudaros a aprender a manejar a vuestros amigos caninos, a comprenderlos y en daros las pautas para que vosotros seáis quienes manejáis al perrete." %}
                   </p>
                   
                </div>
             <!-- /col -->
             </div>
             <!-- /row -->
           
             <!-- /col-sm -->
          <!-- /row -->
          </div>
          <!-- /col-md- -->
          <div class="sidebar col-lg-3 res-margin  card bg-light-custom h-50 text-xs-center text-sm-center text-md-center text-lg-start">
             <h6>{% trans "Nuestros servicios:" %}</h6>
             <div id="menu-clases" class="list-group align">
                <a href="#clases-individuales" id="btn-clases-individuales" class="list-group-item list-group-item-action active">
                  {% trans "Clases individuales" %}
                </a>
                <a href="#clases-grupales" id="btn-clases-grupales" class="list-group-item list-group-item-action">{% trans "Clases grupales" %}</a>
             </div>
          <!-- /list-group -->
          </div>
        <!-- /sidebar -->
       </div>
       <!-- /row -->
    </div>
    <!-- /container -->
 </div>

 <div id="clases-individuales" class="container text-xs-center text-sm-center text-md-center text-lg-start">
    <!-- block -->
    <div class="row pt-0 block-padding">
       <div class="col-xl-5 my-auto">
          <h3>{% trans "Clases individuales:" %}</h3>
          <p>{% trans "Realizaremos un plan personalizado en el que llevaremos a cabo una serie de ejercicios que ayudarán a mejorar cualquier problema que podáis tener con vuestros compañeros caninos. Tenemos disponible servicio a domicilio. <b>Necesitaremos compromiso, sin esfuerzo y trabajo no hay resultados." %}</b></p>
          
          <ul class="custom ps-0">
             <li>{% trans "Modificación de conductas" %}</li>
             <li>{% trans "Ansiedad por separación" %}</li>
             <li>{% trans "Obediencia básica" %}</li>
             <li>{% trans "Entiende mejor a tu perro" %}</li>
             <li>{% trans "Agresividad" %}</li>
          </ul>
          <!-- /ul -->
       </div>
       <!-- /col-xl -->
       <div class="col-xl-7 res-margin">
          <!-- services carousel -->
          <div id="owl-services2" class="top-centered-nav owl-carousel owl-theme">
             <!-- service 1  -->
             <div class="col-md-12 service-hover-box">
                  <!-- image  -->
                  <img src="img/services/service1.jpg" class="img-fluid border-irregular1" alt="" >
                  <!-- caption  -->
                  <div class="service-hover-caption">
                     <h4>{% trans "Paquete Educación" %}</h4>
                     <h3 class="paquete-precio">200€</h3>
                     <p>{% trans "Total de 8 sesiones de 1 hora. En las que se desarrollará un plan de actuación personalizado y se realizarán los ejercicios planteados." %}</p>
                  </div>
             </div>
             <!-- service 2  -->
             <div class="col-md-12 service-hover-box">
                  <!-- image  -->
                  <img src="img/services/service2.jpg" class="img-fluid border-irregular2" alt="" >
                  <!-- caption  -->
                  <div class="service-hover-caption">
                     <h4>{% trans "Paquete agresividad" %}</h4>
                     <h3 class="paquete-precio">350€</h3>
                     <p>{% trans "Total de 8 sesiones de 1 hora. En las que se desarrollará un plan de actuación personalizado y se realizarán los ejercicios planteados." %}</p>
                  </div>
             </div>
          </div>
          <!-- /owl-services -->
       </div>
       <!-- /col-xl -->
    </div>
    <!-- /row -->
   </div>
   <div id="clases-grupales" class="container oculto">

   <div class="row pt-0 block-padding">
      <div class="col-xl-5 my-auto">
         <h3>{% trans "Clases grupales:" %}</h3>
         <p>{% trans "Un espacio en el que divertirse y trabajar habilidades y obediencia con nuestros perros. Aquí podrás compartir tiempo y espacio con otras personas y sus compañeros caninos, divididos en diferentes grupos para trabajar en un nivel concorde al que tú y tu perro necesitéis. Podrás acudir 1 o 2 días a la semana, según tu disponibilidad y la cantidad de trabajo que queráis realizar." %}</p>
         
         <ul class="custom ps-0">
            <li>{% trans "Modificación de conductas" %}</li>
            <li>{% trans "Socialización" %}</li>
            <li>{% trans "Obediencia básica" %}</li>
            <li>{% trans "Entrenamiento deportivo" %}</li>
            <li>{% trans "Agility" %}</li>
         </ul>
         <!-- /ul -->
      </div>
      <!-- /col-xl -->
      <div class="col-xl-7 res-margin">
         <!-- services carousel -->
         <div id="owl-services3" class="top-centered-nav owl-carousel owl-theme">
            <!-- service 1  -->
            <div class="col-md-12 service-hover-box">
                 <!-- image  -->
                 <img src="img/services/service1.jpg" class="img-fluid border-irregular1" alt="" >
                 <!-- caption  -->
                 <div class="service-hover-caption">
                    <h4>{% trans "Tarifas:" %}</h4>
                    <img src="{% static 'img/precios-clases-grupales.png' %}" alt="">
                 </div>
            </div>
            <!-- service 2  -->
            <div class="col-md-12 service-hover-box">
                 <!-- image  -->
                 <img src="img/services/service2.jpg" class="img-fluid border-irregular2" alt="" >
                 <!-- caption  -->
                 <div class="service-hover-caption">
                    <h4>{% trans "Horario:" %}</h4>
                    <img src="{% static 'img/horario-clases-grupales.png' %}" alt="">
                    
                 </div>
            </div>
         </div>
         <!-- /owl-services -->
      </div>
      <!-- /col-xl -->
   </div>


 </div>

 {% endblock %}
