{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="jumbotron jumbotron-fluid overlay jumbotron-equipo">
    <div class="jumbo-heading">
       <!-- section-heading -->
       <div class="section-heading" data-aos="zoom-in">
          <h1>{% trans "Equipo" %}</h1>
       </div>
       <!-- /section-heading -->
       <!-- Breadcrumbs -->
       <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="/">{% trans "Inicio" %}</a></li>
             <li class="breadcrumb-item active" aria-current="page">{% trans "Equipo" %}</li>
          </ol>
       </nav>
    </div>
    <!-- /jumbo-heading -->
 </div>
 <!-- /jumbotron -->
 <!-- ==== Page Content ==== -->
    <!-- /container-->
    <div class="bg-light-custom block-padding">
       <!-- Team style 2 -->
       <h3 class="text-center">{% trans "Nuestro equipo" %}</h3>
       <div class="container">
          <div id="owl-team2" class="owl-carousel owl-theme">
             <!-- Team member -->
             <div class="col-lg-12 team-style2">
                <!-- image -->
                <img src="{% static 'img/team/team1.jpg' %}" alt="" class="img-fluid">
                <!-- name -->
                <div class="name">
                   <h4>Julen Linares</h4>
                   <h6>{% trans "Educador Canino" %}</h6>
                   <h6>{% trans "Psicólogo" %}</h6>
                   <h6>{% trans "Nutricionista Canino" %}</h6>
                </div>
                <!-- /name -->
             </div>
             <!-- /team -->
             <!-- Team member -->
             <div class="col-lg-12 team-style2">
                <!-- image -->
                <img src="{% static 'img/team/team2.jpg' %}" alt="" class="img-fluid">
                <!-- name -->
                <div class="name">
                   <h4>Sandra Marcos</h4>
                   <h6>{% trans "Técnica experta en IAP" %}</h6>
                   <h6>{% trans "Psicóloga" %}</h6>
                   <h6>{% trans "Nutricionista Canino" %}</h6>
                </div>
                <!-- /name -->
             </div>
             <!-- /team -->
             <!-- Team member -->
             <div class="col-lg-12 team-style2">
                <!-- image -->
                <img src="{% static 'img/team/team3.jpg' %}" alt="" class="img-fluid">
                <!-- name -->
                <div class="name">
                   <h4>Hansel</h4>
                   <h6>{% trans "Perro ayudante" %}</h6>
                </div>
                <!-- /name -->
             </div>
             <!-- /team -->
             <!-- Team member -->
             <div class="col-lg-12 team-style2">
                <!-- image -->
                <img src="{% static 'img/team/team4.jpg' %}" alt="" class="img-fluid">
                <!-- name -->
                <div class="name">
                   <h4>Gretel</h4>
                   <h6>{% trans "Perra ayudante" %}</h6>
                </div>
                <!-- /name -->
             </div>
             <!-- /team -->
             <!-- Team member -->
             <div class="col-lg-12 team-style2">
                <!-- image -->
                <img src="{% static 'img/team/team5.jpg' %}" alt="" class="img-fluid">
                <!-- name -->
                <div class="name">
                   <h4>Meiga</h4>
                   <h6>{% trans "Perra ayudante (En formación)" %}</h6>
                </div>
                <!-- /name -->
             </div>
             <!-- /team -->
          </div>
          <!-- /owl-team2 -->
       </div>
       <!-- /container -->   
    </div>
    <!-- /bg-light-custom -->
    <!-- /container -->

 {% endblock %}
