{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta %}
    <meta name="description" content="Ofrecemos servicios de residencia canina, adiestramiento canino y terapias asistidas por perros. Con instalaciones de calidad y un equipo especializado, garantizamos la mejor experiencia para tu perro.">
{% endblock %}

{% block content %}

<div id="slider" style="width:1200px;height:800px;margin:0 auto;margin-bottom: 0px;">
    <!-- Slide 2 -->
    <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
       <!-- bg image  -->
       <img src="{% static 'img/slide1.jpg' %}" class="ls-bg" alt="" >
       <!-- text  -->
       <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
          <div class="header-text dog-elements">
             <h1>{% trans "¡Haz ya tu reserva!" %}</h1>
             <!--the div below is hidden on small screens  -->
             <div>
                <p class="header-p d-none d-sm-block">{% trans "Reserva habitación para tu perro con antelación... No vaya a ser que estemos completos..." %}</p>
                <a class="btn btn-primary " href="residencia-canina">{% trans "Reserva" %}</a>
             </div>
             <!--/d-none  -->
          </div>
          <!-- header-text  -->
       </div>
       <!-- ls-l  -->
    </div>
    <!-- ls-slide -->
      <!-- Slide 3 -->
    <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
       <!-- bg image  -->
       <img src="{% static 'img/slide3.jpg' %}" class="ls-bg" alt="">
       <!-- text  -->
       <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
          <div class="header-text dog-elements">
             <h1>{% trans "¿Problemas con tu perro?" %}</h1>
             <!--the div below is hidden on small screens  -->
             <div>
                <p class="header-p d-none d-sm-block">{% trans "Podemos ayudarte, no dudes en consultar por nuestro servicio de Educación canina." %}</p>
                <a class="btn btn-primary " href="educacion-canina">{% trans "Educación Canina" %}</a>
             </div>
             <!--/d-none  -->
          </div>
          <!-- header-text  -->
       </div>
       <!-- ls-l  -->
    </div>
    <!-- ls-slide -->
    <!-- Slide 4 -->
    <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
       <!-- bg image  -->
       <img src="{% static 'img/slide4.jpg' %}" class="ls-bg" alt="">
       <!-- text  -->
       <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
          <div class="header-text dog-elements">
             <h1>{% trans "¿Una pista a tu disposición?" %}</h1>
             <!-- the div below is hidden on small screens  -->
             <div>
                <p class="header-p d-none d-sm-block">{% trans "Hazte socio de nuestro club y disfruta con tu perro de nuestra pista por libre." %}</p>
                <a class="btn btn-primary " href="nuestro-club">{% trans "Nuestro club" %}</a>
             </div>
             <!--/d-none  -->
          </div>
          <!-- header-text  -->
       </div>
       <!-- ls-l -->
    </div>
    <!-- ls-slide -->
 </div>
 <!-- /slider -->
 <!-- ==== Page Content ==== -->
 <!-- Section services -->
 <div class="page pb-0">
    <div class="container block-padding pt-0">
       <div class="row">
          <div class="col-lg-7">
             <h4>{% trans "Su bienestar es nuestra prioridad:" %}</h4>
             <p>{% trans "En Alcanza entendemos a los perros desde una visión holística teniendo en cuenta 4 dimensiones principales para su bienestar: social, mental, emocional y físico. Para asegurarnos de que todas sus necesidades están cubiertas, contamos con profesionales especializados en todas estas ramas. Todo para ofrecer la mejor experiencia a todas las personas que confíen en nosotras." %}</p>
             
            
             <!-- /ul -->
          </div>
          <!-- /col-lg-->
          <div class="col-lg-5 res-margin">
             <div id="accordion" class="accordion-cards">
                <!-- card 1-->
                <div class="card">
                   <div class="card-header collapsed" id="headingOne"  role="tablist" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      <h6 class="mb-0 accordion-header">
                        {% trans "Bienestar social" %}
                      </h6>
                   </div>
                   <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                      <div class="card-body">
                         <p>{% trans "Para garantizar que los perros se encuentren cómodos contamos con instalaciones en las que puedan compartir momentos de calidad con otros perros y personas. Siempre bajo supervisión y con perros testados para garantizar su compatibilidad." %}
                         </p>
                      </div>
                   </div>
                </div>
                <!-- card 2-->
                <div class="card">
                   <div class="card-header" id="headingTwo"  role="tablist" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h6 class="mb-0 accordion-header">
                        {% trans "Bienestar mental" %}
                      </h6>
                   </div>
                   <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                      <div class="card-body">
                         <p>{% trans "Tenemos un ambiente enriquecido para evitar el aburrimiento de los perros y contamos con profesionales de la conducta canina que puedan estimularlos." %}
                         </p>
                      </div>
                   </div>
                </div>
                <!-- card 3-->
                <div class="card">
                  <div class="card-header" id="headingThree"  role="tablist" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                     <h6 class="mb-0 accordion-header">
                        {% trans "Bienestar físico" %}
                     </h6>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                     <div class="card-body">
                        <p>{% trans "En Alcanza somos expertas en nutrición canina, por eso optamos por las mejores marcas para su alimentación. Nuestras instalaciones son amplias para que puedan ejercitarse. Además, contamos con un equipo de veterinarias disponible las 24 horas para cualquier urgencia." %}
                        </p>
                     </div>
                  </div>
               </div>
                <!-- card 4-->
                <div class="card">
                   <div class="card-header" id="headingFour"  role="tablist" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      <h6 class="mb-0 accordion-header">
                        {% trans "Bienestar emocional" %}
                      </h6>
                   </div>
                   <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
                      <div class="card-body">
                         <p>{% trans "Sabemos que hay situaciones que pueden ser muy duras para los perros (gestionar miedos, inseguridades…), por eso ponemos especial atención a sus cuidados y necesidades para ayudarlos a adaptarse a cualquier situación." %}
                         </p>
                      </div>
                   </div>
                </div>
             </div>
             <!-- /acordion -->
          </div>
          <!-- /col-lg -->
       </div>


       <div class="bg-light-custom block-padding border-irregular1 mt-5">
          <div id="owl-services" class="container owl-carousel owl-theme">
             <!-- service 1  -->
             <div class="col-md-12 p-3">
                <div class="serviceBox">
                   <!-- service icon -->
                   <div class="service-icon">
                      <i class="flaticon-dog-2"></i>
                   </div>
                   <!-- service content -->
                   <div class="service-content">
                      <h6>{% trans "Residencia Canina" %}</h6>
                      <p>
                        {% trans "¿Tienes un viaje y tus perros no tienen dónde quedarse? En Alcanza cuidamos, mimamos y entretenemos a los perros para que su estancia sean otras vacaciones a recordar." %}
                      </p>
                      <a class="btn btn-primary" href="residencia-canina">{% trans "Leer más" %}</a>
                   </div>
                </div>
             </div>
             <!-- service 2  -->
             <div class="col-md-12 p-3">
                <div class="serviceBox">
                   <!-- service icon -->
                   <div class="service-icon">
                      <i class="flaticon-people-1"></i>
                   </div>
                   <!-- service content -->
                   <div class="service-content">
                      <h6>{% trans "Educación Canina" %}</h6>
                      <p>
                        {% trans "En Alcanza, desde un enfoque positivo, te ayudamos a solucionar cualquier problema, te enseñamos y acompañamos para que disfrutes la convivencia con tu perro día a día." %}
                      </p>
                      <a class="btn btn-primary" href="educacion-canina">{% trans "Leer más" %}</a>
                   </div>
                </div>
             </div>
             <!-- service 3  -->
             <div class="col-md-12 p-3">
                <div class="serviceBox">
                   <!-- service icon -->
                   <div class="service-icon">
                      <i class="flaticon-dog-18"></i>
                   </div>
                   <!-- service content -->
                   <div class="service-content">
                      <h6>{% trans "Intervenciones Asistidas por Perros" %}</h6>
                      <p>
                        {% trans "En Alcanza aprovechamos los beneficios del vínculo humano-animal para proporcionar un enfoque diferente dentro del mundo de las intervenciones." %}
                      </p>
                      <a class="btn btn-primary" href="intervenciones-asistidas-por-perros">{% trans "Leer más" %}</a>
                   </div>
                </div>
             </div>
             <!-- service 4 -->
             <div class="col-md-12 p-3">
                <div class="serviceBox">
                   <!-- service icon -->
                   <div class="service-icon">
                      <i class="flaticon-prize-badge-with-paw-print"></i>
                   </div>
                   <!-- service content -->
                   <div class="service-content">
                      <h6>{% trans "Nuestro club" %}</h6>
                      <p>
                        {% trans "Ser socio de Alcanza te dará muchos beneficios y descuentos ¡No dudes en preguntar si te pica la curiosidad!" %}
                      </p>
                      <a class="btn btn-primary" href="nuestro-club">{% trans "Leer más" %}</a>
                   </div>
                </div>
             </div>

             <!--col-md-12  -->
          </div>
          <!-- /owl-services -->
       </div>
       <!-- /bg-light-custom -->   
    </div>


       <!-- /row -->
    </div> 
 <!-- / Section Ends -->
 <!-- Section Blurb -->

 <section id="about" class="dog-bg2 pt-0">
   <div class="container bottom-block-padding">
      <h3 class="text-center">{% trans "Qué dicen nuestros clientes:" %}</h3>
      <div class="col-md-12">
         <div id="owl-testimonial" class="owl-carousel owl-theme">
            <!-- testimonial -->
            <div class="testimonial">
               <div class="content">
                  <p class="description">
                     Muy buen servicio. Deje a mi perrita una  semana con Sandra y Julen durante mis vacaciones y el trato tanto a ella como a nosotros no pudo ser mejor. Atentos en todo momento, nos pusieron todo muy fácil. Cuando la recogimos, a Manoli se la veía feliz y pasando un buen rato con el resto de perros. 100% recomendable.                        
                  </p>
               </div>
               <!-- /content -->
               <div class="testimonial-pic">
                  <img src="{% static 'img/google_logo.png'' %}" class="img-fluid" alt="">
               </div>
               <!-- /testimonial-pic -->
               <div class="testimonial-review">
                  <h5 class="testimonial-title">Saúl Fdez</h5>
                  <span>Vía Google</span>
               </div>
               <!-- /testimonial-review -->
            </div>
            <!-- /testimonial -->
            <!-- testimonial -->
            <div class="testimonial">
               <div class="content">
                  <p class="description">
                     Deje a mi perrita Anchoa 4 días por un viaje , su carita de felicidad al recogerla me ha dejado mucho más tranquilo a la hora de viajar , ya que tenía miedo de pasar muchos días fuera . Sin duda eso no tiene precio.                        
                  </p>
               </div>
               <!-- /content -->
               <div class="testimonial-pic">
                  <img src="{% static 'img/google_logo.png' %}" class="img-fluid" alt="">
               </div>
               <!-- /testimonial-pic -->
               <div class="testimonial-review">
                  <h5 class="testimonial-title">Sergio</h5>
                  <span>Vía Google</span>
               </div>
               <!-- /testimonial-review -->
            </div>
            <!-- /testimonial -->
            <!-- testimonial -->
            <div class="testimonial">
               <div class="content">
                  <p class="description">
                     El sitio es estupendo, con mucho espacio y los dueños fueron super atentos con Firu. Mi mujer y yo no tenemos ninguna pega, la próxima vez que vayamos de vacaciones repetiremos.                        
                  </p>
               </div>
               <!-- /content -->
               <div class="testimonial-pic">
                  <img src="{% static 'img/google_logo.png'' %}" class="img-fluid" alt="">
               </div>
               <!-- /testimonial-pic -->
               <div class="testimonial-review">
                  <h5 class="testimonial-title">Xaquin</h5>
                  <span>Vía Google</span>
               </div>
               <!-- /testimonial-review -->
            </div>
            <!-- /testimonial -->
         </div>
         <!-- /owl-testimonial -->
      </div>
      <!-- /col-md-12 -->
   </div>
 </section>

{% endblock %}
