{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<!-- /nav --><!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid overlay jumbotron-instalaciones">
    <div class="jumbo-heading">
    <!-- section-heading -->
    <div class="section-heading" data-aos="zoom-in">
        <h1>{% trans "Instalaciones" %}</h1>
    </div>
    <!-- /section-heading -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">{% trans "Inicio" %}</a></li>
            <li class="breadcrumb-item"><a href="adoption.html">{% trans "Instalaciones" %}</a></li>
            
        </ol>
    </nav>
    </div>
    <!-- /jumbo-heading -->
</div>
<!-- /jumbotron -->
<!-- ==== Page Content ==== -->
<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 card bg-light-custom text-center mb-5 mx-2">
                <h5 class="card-header">Nuestras instalaciones</h5>
                <div class="card-body">
                    <div id="nuestras-instalaciones" class="list-group">
                        <a id="pista-educacion" class="list-group-item list-group-item-action">Pista educación canina</a>
                        <a id="zona-recreo" class="list-group-item list-group-item-action">Zona de recreo residencia</a>
                        <a id="residencia" class="list-group-item list-group-item-action">Residencia canina</a>
                        <a id="aparcamiento" class="list-group-item list-group-item-action">Aparcamiento</a>
                        <a id="zona-esparcimiento" class="list-group-item list-group-item-action">Zona esparcimiento canino</a>
                        <a id="vivienda" class="list-group-item list-group-item-action">Vivienda</a>
                        <a id="oficina" class="list-group-item list-group-item-action">Oficina</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center mb-5">
                <div class="map-instalaciones">
                    <img class="imagen-instalaciones" src="{% static 'img/instalaciones.png' %}" alt="Mapa de las instalaciones de la residencia" height="500px">
                    <img class="pointer-instalaciones" id="pointer-pista-educacion" src="{% static 'img/chincheta-verde.png' %}" alt="pista-educacion">
                    <img class="pointer-instalaciones" id="pointer-zona-recreo" src="{% static 'img/chincheta-verde.png' %}" alt="zona-recreo">
                    <img class="pointer-instalaciones" id="pointer-residencia" src="{% static 'img/chincheta-verde.png' %}" alt="residencia">
                    <img class="pointer-instalaciones" id="pointer-aparcamiento" src="{% static 'img/chincheta-verde.png' %}" alt="aparcamiento">
                    <img class="pointer-instalaciones" id="pointer-vivienda" src="{% static 'img/chincheta-verde.png' %}" alt="vivienda">
                    <img class="pointer-instalaciones" id="pointer-oficina" src="{% static 'img/chincheta-verde.png' %}" alt="oficina">
                    <img class="pointer-instalaciones" id="pointer-esparcimiento" src="{% static 'img/chincheta-verde.png' %}" alt="zona-esparcimiento">

                </div>
            </div>
        </div>


    <div class="row">
        <div class="col-lg-12 mb-5">
            <div class="row bg-light-custom border-irregular1 block-padding">
                <!-- image -->
                <div class="col-lg-4 offset-lg-2">
                <!-- owl slider -->
                <div class="slider-instalaciones owl-carousel top-centered-nav owl-theme" >
                    <div class="col-md-12">
                        <!-- image -->
                        <a href="{% static 'img/residencia/alcanza-espazo-canino-residencia-canina-cangas-bueu-moaña.jpg' %}" title="your caption here">
                        <img src="{% static 'img/residencia/alcanza-espazo-canino-residencia-canina-cangas-bueu-moaña.jpg' %}" class="border-irregular1 img-fluid hover-opacity" alt="">
                        </a>
                    </div>
                    <!-- /col-md-12 -->
                    <div class="col-md-12">
                        <!-- image -->
                        <a href="{% static 'img/residencia/alcanza-espazo-canino-residencia-canina-cangas-bueu-moaña2.jpg' %}" title="your caption here">
                        <img src="{% static 'img/residencia/alcanza-espazo-canino-residencia-canina-cangas-bueu-moaña2.jpg' %}" class="border-irregular2 img-fluid hover-opacity" alt="">
                        </a>
                    </div>
                    <!-- /col-md-12 -->
                    <div class="col-md-12">
                        <!-- image -->
                        <a href="{% static 'img/residencia/alcanza-espazo-canino-residencia-canina-cangas-bueu-moaña3.jpg' %}" title="your caption here">
                        <img src="{% static 'img/residencia/alcanza-espazo-canino-residencia-canina-cangas-bueu-moaña3.jpg' %}" class="border-irregular1 img-fluid hover-opacity" alt="">
                        </a>                  
                    </div>
                </div>
                <!-- /owl-carousel -->	
                </div>
                <!-- /col-md -->	
                <!-- adoption info  -->
                <div class="col-lg-4 res-margin mt-5 text-center text-lg-start">
                <h3><strong>{% trans "Residencia Canina" %}</strong></h3>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled pet-adopt-info">
                            <li class="h7">{% trans "7 Habitaciones" %}</li>
                            <li class="h7">{% trans "Zonas interiores" %}</li>
                            <li class="h7">{% trans "3 Patios exteriores" %}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled pet-adopt-info">
                            <li class="h7">{% trans "1700m<sup>2</sup> de instalaciones" %}</li>
                            <li class="h7">{% trans "Vigilados las 24 horas" %}</li>
                            
                        </ul>
                    </div>
                    <!-- /div-->
                </div>
                <!-- /row-->
                <p class="font-weight-bold">{% trans "¡Tu perro se sentirá como en casa!" %}</p>
                <!-- button -->
                <a href="#" class="btn btn-primary mb-4" data-aos="zoom-in" >{% trans "Haz tu reserva" %}</a>             
                </div>
                <!-- /col-md --> 
            </div>
            <!-- /col-md-->
        </div>
        <!-- /col-lg-->

        <div class="col-lg-12 mb-5">
            <div class="row bg-light-custom border-irregular1 block-padding">
              <!-- adoption info  -->
              <div class="col-lg-4 res-margin mt-5 text-center text-lg-end ms-lg-5 me-0 pe-0">
                <h3><strong>{% trans "Pista de educación canina" %}</strong></h3>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled pet-adopt-info">
                            <li class="h7">{% trans "200m<sup>2</sup> de pista" %}</li>
                            <li class="h7">{% trans "Obstáculos de primera calidad" %}</li>
                            
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled pet-adopt-info">
                            <li class="h7">{% trans "Circuito de agility" %}</li>
                            <li class="h7">{% trans "Acceso libre para socios" %}</li>
                        
                        </ul>
                    </div>
                    <!-- /div-->
                </div>
                <!-- /row-->
                <p class="font-weight-bold">{% trans "Ven a divertirte con tu perro." %}</p>
                <!-- button -->
                <a href="#" class="btn btn-primary mb-5" data-aos="zoom-in" >{% trans "Más información" %}</a>             
            </div>
            <!-- /col-md --> 
                <!-- image -->
                <div class="col-lg-4 offset-lg-1">
                <!-- owl slider -->
                <div class="slider-instalaciones owl-carousel top-centered-nav owl-theme" >
                    <div class="col-md-12">
                        <!-- image -->
                        <a href="{% static 'img/adiestramiento/alcanza-espazo-canino-adiestramiento-educacion-canina-cangas-bueu-moaña.jpg' %}" title="your caption here">
                        <img src="{% static 'img/adiestramiento/alcanza-espazo-canino-adiestramiento-educacion-canina-cangas-bueu-moaña.jpg' %}" class="border-irregular1 img-fluid hover-opacity" alt="">
                        </a>
                    </div>
                    <!-- /col-md-12 -->
                    <div class="col-md-12">
                        <!-- image -->
                        <a href="{% static 'img/adiestramiento/alcanza-espazo-canino-adiestramiento-educacion-canina-cangas-bueu-moaña2.jpg' %}" title="your caption here">
                        <img src="{% static 'img/adiestramiento/alcanza-espazo-canino-adiestramiento-educacion-canina-cangas-bueu-moaña2.jpg' %}" class="border-irregular2 img-fluid hover-opacity" alt="">
                        </a>
                    </div>
                    <!-- /col-md-12 -->
                    <div class="col-md-12">
                        <!-- image -->
                        <a href="{% static 'img/adiestramiento/alcanza-espazo-canino-adiestramiento-educacion-canina-cangas-bueu-moaña3.jpg' %}" title="your caption here">
                        <img src="{% static 'img/adiestramiento/alcanza-espazo-canino-adiestramiento-educacion-canina-cangas-bueu-moaña3.jpg' %}" class="border-irregular1 img-fluid hover-opacity" alt="">
                        </a>                  
                    </div>
                </div>
                <!-- /owl-carousel -->	
                </div>
                <!-- /col-md -->	
            </div>
            <!-- /col-md-->
        </div>

        <div class="col-lg-12">
            <div class="row bg-light-custom border-irregular1 block-padding">
                <!-- image -->
                <div class="col-lg-4 offset-lg-2">
                <!-- owl slider -->
                <div class="slider-instalaciones owl-carousel top-centered-nav owl-theme" >
                    <div class="col-md-12">
                        <!-- image -->
                        <a href="{% static 'img/adoption/adoption1.jpg' %}" title="your caption here">
                        <img src="{% static 'img/adoption/adoption1.jpg' %}" class="border-irregular1 img-fluid hover-opacity" alt="">
                        </a>
                    </div>
                    <!-- /col-md-12 -->
                    <div class="col-md-12">
                        <!-- image -->
                        <a href="{% static 'img/adoption/adoption1.jpg' %}" title="your caption here">
                        <img src="{% static 'img/adoption/adoption1.jpg' %}" class="border-irregular2 img-fluid hover-opacity" alt="">
                        </a>
                    </div>
                    <!-- /col-md-12 -->
                    <div class="col-md-12">
                        <!-- image -->
                        <a href="{% static 'img/adoption/adoption1.jpg' %}" title="your caption here">
                        <img src="{% static 'img/adoption/adoption1.jpg' %}" class="border-irregular1 img-fluid hover-opacity" alt="">
                        </a>                  
                    </div>
                </div>
                <!-- /owl-carousel -->	
                </div>
                <!-- /col-md -->	
                <!-- adoption info  -->
                <div class="col-lg-4 res-margin mt-5 text-center text-lg-start">
                <h3><strong>{% trans "Oficina" %}</strong></h3>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled pet-adopt-info">
                            <li class="h7">{% trans "Zona Check-in y Check-out" %}</li>
                            <li class="h7">{% trans "Atención a clientes" %}</li>
                            
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled pet-adopt-info">
                            <li class="h7">{% trans "Atención a socios" %}</li>
                            <li class="h7">{% trans "W.C. para clientes" %}</li>
                            
                        </ul>
                    </div>
                    <!-- /div-->
                </div>
                <!-- /row-->
                <p class="font-weight-bold">{% trans "Si necesitas más información no dudes en contactarnos." %}</p>
                <!-- button -->
                <a href="#" class="btn btn-primary mb-4" data-aos="zoom-in" >{% trans "Contacta" %}</a>             
                </div>
                <!-- /col-md --> 
            </div>
            <!-- /col-md-->
        </div>

    </div>
    <!-- /row-->
    </div>
    <!-- /container-->
</div>
<!-- /page -->

 {% endblock %}
