{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="jumbotron jumbotron-fluid overlay jumbotron-iap">
    <div class="jumbo-heading">
       <!-- section-heading -->
       <div class="section-heading section-heading-intervenciones" data-aos="zoom-in">
         <h1>{% trans "Intervenciones asistidas por perros" %}</h1>
       </div>
       <!-- /section-heading -->
       <!-- Breadcrumbs -->
       <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="index.html">{% trans "Servicios" %}</a></li>
             <li class="breadcrumb-item active" aria-current="page">{% trans "Intervenciones asistidas por perros" %}</li>
          </ol>
       </nav>
       <!-- /nav -->
    </div>
    <!-- /jumbo-heading -->
 </div>
 <!-- /jumbotron -->

 <div class="page">
    <div class="container">
       <div class="container block-padding pt-0 text-xs-center text-sm-center text-md-center text-lg-start">
          <div class="row">
             <div class="col-xl-6 my-auto">
                <h3>{% trans "Un enfoque diferente" %}</h3>
                <p>{% trans "Las Intervenciones Asistidas por Perros (IAP) son aquellas intervenciones que aprovechan los beneficios del vínculo humano-animal para contribuir positivamente en la vida de las personas participantes." %}</p>
                <p>{% trans "Desde Alcanza, nos decantamos por trabajar junto a nuestros compañeros caninos que han sido especialmente seleccionados y entrenados para poder contribuir en estos espacios." %}</p>
                <p>{% trans "Dependiendo de los profesionales implicados y los objetivos de la intervención, las IAP se pueden clasificar en:" %}</p>
                <!-- ul custom-->
                <ul class="custom ps-0">
                   <li>{% trans "Terapia Asistida por Perros (TAP)" %}</li>
                   <li>{% trans "Educación Asistida por Perros (EAP)" %}</li>
                   <li>{% trans "Actividad Asistida por Perros (AAP)" %}</li>
                </ul>
             </div>
             <!-- /col-xl-->
             <div class="col-xl-6">
                <img src="{% static 'img/services2.jpg' %}" alt=""   data-aos="fade-down"  data-aos-duration="1500"  class="img-fluid border-irregular1 border-double">
             </div>
          </div>
          <!-- /row -->
       </div>
    </div>
       
    <!--/ container -->
    <div class="container bottom-block-padding">
       <div class="row">
          <div class="col-lg-5">
             <!-- Image -->
             <img src="{% static 'img/services3.jpg' %}" alt=""   data-aos="fade-down" class="img-fluid">
          </div>
          <!--/ col-lg -->
          <div class="col-lg-7 my-auto p-3 text-xs-center text-sm-center text-md-center text-lg-start">
             <h4>{% trans "¡Contáctanos!" %}</h4>
             <p> {% trans "Si trabajas en un centro o conoces alguno en el que podamos colaborar, no dudes en ponerte en contacto y preguntar todas tus inquietudes" %}</p>
             
             <a class="btn btn-primary" href="contact.html"> {% trans "Contacto" %}</a>
          </div>
          <!--/col-lg  -->
       </div>
       <!--/row -->
    </div>
    <!-- /container -->
 </div>
 <!-- /page-->
 {% endblock %}
