{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="jumbotron jumbotron-fluid overlay jumbotron-club">
    <div class="jumbo-heading">
       <!-- section-heading -->
       <div class="section-heading" data-aos="zoom-in">
          <h1>{% trans "Nuestro club" %}</h1>
       </div>
       <!-- /section-heading -->
       <!-- Breadcrumbs -->
       <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="/">{% trans "Servicios" %}</a></li>
             <li class="breadcrumb-item active" aria-current="page">{% trans "Nuestro club" %}</li>
          </ol>
       </nav>
    </div>
    <!-- /jumbo-heading -->
 </div>
 <!-- /jumbotron -->
 <!-- ==== Page Content ==== -->
 <div class="page pb-0">
    <div class="container">
       <!-- block -->
       <div class="row pt-0 block-padding text-xs-center text-sm-center text-md-center text-lg-start">
          <div class="col-xl-5 my-auto">
             <h3>{% trans "¿En qué consiste ser socio?" %}</h3>
             <p>{% trans "En Alcanza queremos ser un espacio familiar, en el que podáis disfrutar con vuestros perros, por lo que ponemos a disposición de nuestros socios nuestra pista de educación canina. Todas las personas que sean parte de la familia Alcanza podrán acudir dentro de los horarios establecidos cada semana a practicar con sus perros tanto cómo quieran." %}</p>
             <p><strong>{% trans "Puedes consultar el horario semanal actualizado de pista en nuestra cuenta de instagram o consultarnos telefónicamente." %}</strong></p>
             
          </div>
          <!-- /col-xl -->
          <div class="col-xl-7 res-margin">
             <!-- services carousel -->
             <div id="owl-services2" class="top-centered-nav owl-carousel owl-theme">
                <!-- service 1  -->
                <div class="col-md-12 service-hover-box">
                   <a href="services-single.html">
                      <!-- image  -->
                      <img src="img/services/service1.jpg" class="img-fluid border-irregular1" alt="" >
                      <!-- caption  -->
                      <div class="service-hover-caption">
                         <h4><strong>{% trans "Tarifas:" %}</strong></h4>
                         <img src="{% static 'img/precio-embresia.png' %}" alt="">
                      </div>
                   </a>
                </div>
                <!-- service 2  -->
                <div class="col-md-12 service-hover-box">
                 
                      <!-- image  -->
                      <img src="img/services/service2.jpg" class="img-fluid border-irregular2" alt="" >
                      <!-- caption  -->
                      <div class="service-hover-caption text-light">
                         <h4><strong>{% trans "Normas de la pista:" %}</strong></h4>
                         <ul class="custom ps-0">
                           <li>{% trans "Cada persona será responsable de su perro y de la limpieza de sus excrementos." %}</li>
                           <li>{% trans "Los perros deberán estar correctamente socializados con perros y personas." %}</li>
                           <li>{% trans "Prohibido el acceso a las perras durante el celo." %}</li>
                           <li>{% trans "No se dará comida a ningún perro ajeno, salvo autorización de su familia." %}</li>
                           <li>{% trans "Se prohibe el uso de collares que comprometan la integridad física del perro." %}</li>
                           <li>{% trans "No se podrá correr, ni lanzar juguetes dentro de la pista." %}</li>
                           <li>{% trans "Las personas no comerán dentro de la pista." %}</li>
                        </ul>
                      </div>
                   
                </div>
               
                   </a>
                </div>
             </div>
             <!-- /owl-services -->
          </div>
          <!-- /col-xl -->
       </div>
       <!-- /row -->
    </div>
    
    <!--/bg-light-custom -->
 </div>

 {% endblock %}
