{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="jumbotron jumbotron-fluid overlay jumbotron-residencia">
    <div class="jumbo-heading">
       <!-- section-heading -->
       <div class="section-heading section-heading-residencia" data-aos="zoom-in">
          <h1>{% trans "Residencia canina" %}</h1>
       </div>
       <!-- /section-heading -->
       <!-- Breadcrumbs -->
       <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="">{% trans "Servicios" %}</a></li>
             <li class="breadcrumb-item active" aria-current="page">{% trans "Residencia canina" %}</li>
          </ol>
       </nav>
       <!-- /nav -->
    </div>
    <!-- /jumbo-heading -->
 </div>
 <!-- /jumbotron -->
 <!-- ==== Page Content ==== -->
 
 <div class="bg-light-custom">
   <br>
   <div class="container block-padding pt-0">
      <div class="row">
         <div class="col-lg-5 mb-5 mb-lg-0">
            <img src="{% static 'img/UNOASIS.jpg' %}" alt="" class="img-fluid border-irregular2"  data-aos="zoom-in"  >
         </div>
         <!--/col-lg-->
         <div class="col-lg-7 res-margin my-auto text-xs-center text-lg-start">
            <h3>{% trans "Un oasis canino en plena naturaleza." %}</h3>
            <p>{% trans "Nos encontramos en Ermelo, Bueu. Un entorno rodeado de naturaleza, con un aire limpio, a pocos minutos de la playa. Si quieres venir a la zona del Morrazo, pero tu hotel u alojamiento no acepta perros, puedes dejarlo con nosotras y traerlo y llevarlo a las actividades que podáis hacer juntos." %}</p>
            <p><strong>{% trans "Visita el Morrazo sin que ningún miembro de la familia se quede en casa." %}</strong></p>
         </div>
         <!-- /col-lg -->
      </div>
   </div>
 <div class="bg-light-custom block-padding">
    <div class="container">
       <div id="counter" class="row justify-content-center">
          <!-- Counter -->
          <div class="col-xl-3 col-md-6">
             <div class="counter">
                <i class="counter-icon flaticon-sign"></i>
                <!-- insert your final value on data-count= -->
                <div class="counter-value">1</div>
                <h3 class="title">{% trans "Trae tu perro" %}</h3>
             </div>
             <!-- /counter -->
          </div>
          <!-- /col-lg -->
          <!-- Counter -->
          <div class="col-xl-3 col-md-6">
             <div class="counter">
                <i class="counter-icon flaticon-prize-badge-with-paw-print"></i>
                <!-- insert your final value on data-count= -->
                <div class="counter-value">2</div>
                <h3 class="title">{% trans "Cuidados profesionales" %}</h3>
             </div>
             <!-- /counter -->
          </div>
          <!-- /col-lg -->
          <!-- Counter -->
          <div class="col-xl-3 col-md-6">
             <div class="counter">
                <i class="counter-icon flaticon-dog-face"></i>
                <!-- insert your final value on data-count= -->
                <div class="counter-value">3</div>
                <h3 class="title">{% trans "Despreocupate" %}</h3>
             </div>
             <!-- /counter -->
          </div>
          <!-- /col-lg -->
       </div>
       <!-- /row -->
        
    </div>
    
    <!-- /container -->
    <br>
    <div class="container">
        <h3 class="elements-subheader bg-secondary text-center text-light">{% trans "Condiciones del servicio" %}</h3>
        <!-- backgorund icons  -->
        <center><div>
         <img src="{% static 'img/tarifas-residencia.png' %}" alt="">
         </div></center>
         <br>
        <div class="row text-xs-center text-sm-center text-md-center text-lg-start">
           <div class="col-lg-6">
            <div class="dog-bg3 bg-secondary text-light element-section mb-4">
                <div class="inner">
                    <h3>{% trans "Sobre las reservas:" %}</h3>
                    
                    <h5>{% trans "Realizar una reserva:" %}</h5> {% trans "Nuestro sistema de reservas es muy sencillo, puedes realizarla simplemente llamando por teléfono o incluso si lo prefieres, vía whatsapp. Nuestro personal te confirmará la reserva en el momento." %}
                    <p></p>
                    <br>
                    <h6><center>Teléfono: 629 03 75 66</center></h6>
                    <br>
                    <p>{% trans "Con vuestra llegada al centro con el perro para hacer el check-in, <strong>deberás firmar el contrato de residencia</strong> en el que se explican los términos y condiciones del servicio." %}</p>
                    <p></p>
                    <p>{% trans "Cuando vengáis a realizar el check-out, se abonará el importe total de la estancia." %}</p>
                    <br>
                    <h5>{% trans "Modificación o cancelación de reservas:" %}</h5> {% trans "Se realizarán vía telefónica o mediante whatsapp." %} 
                     
                 </div>
              </div>
           </div>
           <div class="col-lg-6">
              <div class="dog-bg2 bg-primary text-light element-section">
                 <div class="inner">
                    <h3>{% trans "¿Qué necesitas traer?" %}</h3>
                  
                    <ul class="custom ps-0">
                     <li> <b>{% trans "Cartilla del perro." %}</b> {% trans "Así podremos comprobar que está al corriente de vacunación (Como vacunas opcionales es muy recomendable que esté vacunado de la tos de las perreras)." %} </li>
                     <li> <b>{% trans "Método antiparasitario." %}</b> {% trans "Pipeta o collar (aunque la limpieza es una prioridad, nos encontramos en un entorno natural y es difícil controlar al 100% estos temas)." %}  </li>
                     <li><b>{% trans "Cualquier medicación." %}</b> {% trans "La administración de fármacos tiene coste adicional, puedes consultarlo en nuestras tarifas." %}</li>
                     <li><b>{% trans "Comida.</b>" %} {% trans "Recomendamos traerla, ya que los cambios abruptos de alimentación pueden provocar malestar al perro. Si no quieres traerla, en Alcanza disponemos de pienso de la mejor calidad para darle a nuestros huéspedes, aunque tiene coste adicional, puedes consultarlo en nuestras tarifas." %}</li>
                     <li><b>{% trans "Opcional: Juguetes, mantas, etc." %} </b>{% trans "En Alcanza constamos de todo esto, pero si aún así quieres traerle algo para que extrañe menos los olores, o si tiene algún juguete del que es inseparable, puedes hacerlo." %}</li>
                  </ul>
                 </div>
              </div>
           </div>
        </div>
        
    </div>

 </div>
 {% endblock %}
